/* FAQ CSS */

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: none;
  background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.faq-container {
  max-width: 140rem;
  gap: 1.2rem;
  flex: 1;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
  box-sizing: border-box;
  display: flex;
  background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
  box-shadow: 0px 6px 4px rgba(34, 0, 1, 0.8);
  margin: 2rem;
}

.sidebar {
  padding: 2rem 0;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  width: min(52rem, 40vw);
  min-width: 200px;
  border: 4px solid #e8c775;
  border-radius: 1rem;
}

.faq-header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.faq-header img {
  max-width: 14rem;
  height: auto;
  padding-bottom: 1.2rem;
}

.nav-item {
  padding: 1rem 2rem;
  cursor: pointer;
  border-left: 4px solid transparent;
  color: #fff;
  font-size: 20px;
  font-family: var(--font-brygada);
  font-weight: var(--weight-bold);
  font-style: normal;
  text-shadow: -1px -1px 0 #a20003, 1px -1px 0 #a20003, -1px 1px 0 #a20003,
    1px 1px 0 #a20003;
  transition: transform 0.3s ease, font-size 0.5s ease-in-out;
}

.nav-item:hover {
  background: rgba(212, 175, 55, 0.1);
  transform: translateX(5px);
}

.nav-item.active {
  background: rgba(212, 175, 55, 0.2);
  font-weight: bold;
}

.content-area {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
  width: min(60rem, 40vw);
  min-width: 0;
  height: 100%;
  border: 4px solid #e8c775;
  border-radius: 1rem;
}

.faq-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.faq-header img {
  max-width: 48rem;
}

.faq-content {
  display: none;
  height: 100%;
  animation: fadeIn 0.5s ease-in-out;
}

.faq-content.active {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.faq-content-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.faq-content-header img {
  max-width: 50rem;
}

#own-outfits .faq-content-header img {
  max-width: 72rem;
}

#people .faq-content-header img,
#appointments .faq-content-header img {
  max-width: 70rem;
}

#hair-makeup .faq-content-header img {
  max-width: 60rem;
}

#sitting-time .faq-content-header img,
#appointments .faq-content-header:nth-child(3) img {
  max-width: 30rem;
}

#photo-editing .faq-content-header img {
  max-width: 22rem;
}

#sizes .faq-content-header img {
  max-width: 20rem;
}

.faq-content h1 {
  color: #fff;
  font-size: 20px;
  font-family: var(--font-brygada);
  font-weight: var(--weight-bold);
  font-style: normal;
  text-shadow: -1px -1px 0 #a20003, 1px -1px 0 #a20003, -1px 1px 0 #a20003,
    1px 1px 0 #a20003;
  transition: transform 0.3s ease, font-size 0.5s ease-in-out;
  line-height: 1.2;
  padding: 0 16rem;
  text-align: center;
}

.faq-content h2 {
  color: #fff;
  font-size: 20px;
  font-family: var(--font-brygada);
  font-weight: var(--weight-bold);
  font-style: normal;
  text-shadow: -1px -1px 0 #a20003, 1px -1px 0 #a20003, -1px 1px 0 #a20003,
    1px 1px 0 #a20003;
  transition: transform 0.3s ease, font-size 0.5s ease-in-out;
  line-height: 1.6;
  padding: 1rem;
}

.faq-content p {
  color: #fff;
  font-size: 18px;
  font-family: var(--font-brygada);
  font-weight: var(--weight-bold);
  font-style: normal;
  text-shadow: -1px -1px 0 #a20003, 1px -1px 0 #a20003, -1px 1px 0 #a20003,
    1px 1px 0 #a20003;
  transition: transform 0.3s ease, font-size 0.5s ease-in-out;
  line-height: 1.6;
  padding: 0.6rem 0;
}

.faq-content ul:first-of-type {
  list-style-type: disc;
}

.content-section > ul {
  padding: 0.4rem 0;
}

.faq-content ul li,
.faq-content ul p {
  color: #fff;
  font-size: 20px;
  font-family: var(--font-brygada);
  font-weight: var(--weight-bold);
  text-shadow: -1px -1px 0 #a20003, 1px -1px 0 #a20003, -1px 1px 0 #a20003,
    1px 1px 0 #a20003;
  transition: transform 0.3s ease, font-size 0.5s ease-in-out;
  line-height: 1.6;
}

.faq-content ul li {
  margin: 0 4rem;
}

.faq-content ul li p {
  font-size: 18px;
}

.faq-content ul li ul li {
  font-size: 18px;
  font-style: italic;
  margin: 0 2rem;
  line-height: 1.2;
}

.faq-content .content-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.item-note {
  padding: 1rem;
}

.item-note .note {
  font-style: italic;
  padding: 0;
}

.item-note .note-section span {
  font-size: 20px;
}

.item-note p span {
  font-size: 20px;
}

.item-note > p:nth-child(2),
.item-note > p:nth-child(3) {
  padding-left: 1rem;
}

p:nth-child(18) > span {
  font-size: 20px;
  font-style: italic;
}

#sitting-look p:nth-child(18) {
  text-align: center;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  padding-bottom: 2rem;
  flex-wrap: wrap;
}

.btn {
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  transition: transform 0.3s ease, width 0.5s ease-in-out,
    height 0.5s ease-in-out;
}

.btn-primary {
  width: 30rem;
  height: 4rem;
  border-radius: clamp(0.6rem, 1.5vw, 1.2rem);
  border: 2px solid #e8c775;
  background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
  box-shadow: 0px 6px 4px rgba(34, 0, 1, 0.8);
  z-index: 1;
  font-size: 20px;
  padding: 0.8rem 2rem;
  color: #fff;
  font-family: var(--font-brygada);
  font-weight: var(--weight-bold);
  font-style: normal;
  text-shadow: -1px -1px 0 #a20003, 1px -1px 0 #a20003, -1px 1px 0 #a20003,
    1px 1px 0 #a20003;
  transition: transform 0.3s ease, width 0.5s ease-in-out,
    height 0.5s ease-in-out;
}

.btn-primary:hover {
  transform: scale(1.05);
}

#appointments .btn-primary {
  width: 20rem;
}

#sitting-time .btn-primary {
  width: 44rem;
}

#own-outfits .btn-primary {
  width: 60rem;
}

#own-outfits .no-theme img {
  border-radius: clamp(0.6rem, 1.5vw, 1.2rem);
  border: 2px solid #e8c775;
}

.no-theme {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 2rem;
  padding: 1rem 2rem;
}

#family {
  width: 60%;
}

#hippies {
  width: 40%;
}

#accessibility .wheelchair {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  padding: 1rem 0 0;
}

#accessibility .wheelchair img {
  width: 20rem;
  border-radius: clamp(0.6rem, 1.5vw, 1.2rem);
  border: 2px solid #e8c775;
}

#accessibility .wheelchair-photo .photo-caption {
  font-size: 16px;
  padding: 0;
  line-height: 1.2;
  text-align: center;
  width: 20rem;
}

#accessibility h1 {
  padding: 0;
}

#accessibility .accessibility-section p {
  padding: 0.4rem;
}

#own-outfits p:nth-child(4) {
  text-align: center;
}

#own-outfits p:nth-child(4) span {
  font-size: 20px;
  font-style: italic;
}

#appointments .item-note {
  padding: 1rem 4rem;
}

#appointments > div.item-note > p {
  padding: 0;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
}

.people-number {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 1rem 2rem 0;
  padding: 2rem 0 1rem;
  gap: 2rem;
}

.up-to-7,
.over-8 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: clamp(0.6rem, 1.5vw, 1.2rem);
  border: 2px solid #e8c775;
}

.people-number h2 {
  margin-bottom: 0.6rem;
}

.people-number .up-to-7 p:first-of-type {
  padding: 0 0 0.29rem;
}

.people-number .up-to-7 h2,
.people-number .over-8 h2,
.people-number .over-8 p {
  padding: 0;
}

#appointments > p {
  text-align: center;
}

#babies ul li p {
  font-size: 20px;
}

#babies .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .faq-container {
    max-height: 50rem;
  }
  .faq {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    padding: 1rem 0;
    max-height: 30vh;
    overflow-y: auto;
  }
  .sidebar-header img {
    max-width: 8.5rem;
  }
  .nav-item {
    padding: 0.8rem 1rem;
    font-size: 16px;
  }
  .content-area {
    padding: 2rem 1rem;
    flex: 1;
    overflow-y: auto;
  }
}
