footer {
  z-index: 2;
  box-shadow: 0px -2px 6px 2px rgba(34, 0, 1, 0.633);
  box-sizing: border-box;
}

#footer-container {
  width: 100%;
}

.info-panel {
  display: flex;
  flex-direction: column;
  background: #480204;
  padding: 1.6rem 1.6rem 0rem;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.footer-containers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.hours-container,
.location-container {
  background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
  border-radius: 1.2rem;
  border: 2px solid #e8c775;
  color: #fff;
  font-family: var(--font-brygada);
  font-weight: var(--weight-bold);
  font-style: normal;
  text-shadow: -1px -1px 0 #a20003, 1px -1px 0 #a20003, -1px 1px 0 #a20003,
    1px 1px 0 #a20003;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 8.8rem;
  max-width: 45rem;
  width: 100%;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.header-text {
  text-align: left;
}

.hours-container {
  display: flex;
  flex-direction: column;
}

.hours-info {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 0.8rem 0rem;
}

.hours-info .header-text img {
  max-width: 6rem;
  height: auto;
  padding-top: 0.2rem;
}

.location-container .header-text {
  margin-bottom: 0;
}

.location-container .header-text img {
  max-width: 8rem;
  height: auto;
}

.hours-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.2rem;
  font-size: 16px;
}

.quick-hours {
  display: flex;
  justify-content: space-between;
  gap: 0.4rem;
}

.days,
.times {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}

.holiday-hours {
  font-size: 13px;
}

.days,
.times {
  font-size: 14px;
}

.hours-note {
  text-align: right;
  font-size: 14px;
  font-style: italic;
}

.holiday-hours {
  padding-top: 0.2rem;
}

.last-group {
  display: flex;
  flex-direction: column;
  text-align: end;
  color: #fff;
  font-size: 13px;
  font-family: var(--font-brygada);
  font-weight: var(--weight-bold);
  font-style: italic;
  text-shadow: -1px -1px 0 #a20003, 1px -1px 0 #a20003, -1px 1px 0 #a20003,
    1px 1px 0 #a20003;
  padding: 0.3rem 1rem 0.1rem 0rem;
}

.location-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header map"
    "info info";
  color: #fff;
  font-family: var(--font-brygada);
  font-weight: var(--weight-bold);
  font-style: italic;
  text-shadow: -1px -1px 0 #a20003, 1px -1px 0 #a20003, -1px 1px 0 #a20003,
    1px 1px 0 #a20003;
  margin-bottom: 0rem;
  padding: 0.4rem 0.8rem;
}

.header-text {
  grid-area: header;
  text-align: left;
  padding-top: 0.4rem;
}

.location-info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.location-text {
  grid-area: address;
  text-align: right;
  font-size: 14px;
  padding-top: 0.5rem;
}

.location-text p {
  padding: 0.1rem 0;
}

.city-postal {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  gap: 2rem;
  font-size: 14px;
}

.location-description {
  grid-area: description;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  font-style: italic;
}

.map-text {
  visibility: visible;
  font-size: 1em;
}

.mini-map {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  border: 2px solid #e8c775;
  background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
  box-shadow: 0px 6px 4px rgba(34, 0, 1, 0.8);
  font-size: 16px;
  padding: clamp(0.4rem, 1vw, 0.8rem);
  color: #fff;
  font-family: var(--font-brygada);
  font-weight: var(--weight-bold);
  font-style: normal;
  text-shadow: -1px -1px 0 #a20003, 1px -1px 0 #a20003, -1px 1px 0 #a20003,
    1px 1px 0 #a20003;
  cursor: pointer;
  order: 0;
  text-align: left;
  grid-area: map;
}

.mini-map:hover {
  transform: scale(103%);
}

.copyright {
  font-family: var(--font-brygada);
  font-weight: var(--weight-regular);
  font-style: normal;
  color: white;
  text-align: center;
  margin: 1rem 0;
  font-size: 0.9em;
}

/*==================================================
  Media Queries for Larger Screens
==================================================*/

/* Tablet and Small Desktop (500px - 1023px) */
@media (min-width: 500px) {
  .last-group {
    font-size: 13px;
  }
}

@media (min-width: 660px) {
  .hours-container,
  .location-container {
    max-width: 58rem;
  }

  .last-group {
    font-size: 14px;
  }
}

/* Desktop and Larger (1024px and up) */
@media (min-width: 1024px) {
  .info-panel {
    align-items: center;
  }

  .footer-containers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }

  .hours-container,
  .location-container {
    max-width: 66rem;
    height: 8.8rem;
    padding: 0.4rem 1.2rem 0rem;
  }

  .hours-info {
    padding: 0.4rem 1.2rem 0rem;
  }

  .days {
    font-size: 16px;
  }

  .hours-note {
    padding-top: 0.2rem;
  }

  .holiday-hours,
  .last-group {
    font-size: 14px;
    padding: 0;
  }

  .last-group {
    margin-right: 1.2rem;
  }

  .location-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 0px;
    margin: 0 auto;
    padding: 0.4rem 1.2rem;
  }

  .header-text {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: left;
  }

  .location-text {
    position: relative;
    bottom: 0.4rem;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: left;
    font-size: 16px;
  }

  .mini-map {
    position: relative;
    bottom: 1.6rem;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 24rem;
    height: 4.6rem;
    text-align: right;
    background: white;
    color: black;
    text-shadow: none;
    box-shadow: none;
    border: none;
    margin: 0;
  }

  .location-description {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: left;
    font-size: 14px;
    font-style: normal;
    justify-content: flex-start;
  }

  .map-text {
    visibility: visible;
  }

  .city-postal {
    display: flex;
    gap: 4px;
  }
}

/* Large Desktop (1920px and up) */
@media (min-width: 1920px) {
  .footer-containers {
    gap: 1.2rem;
  }

  .location-container {
    grid-template-columns: 1fr 1fr;
  }

  .hours-container,
  .location-container {
    min-width: 60rem;
    height: 10.8rem;
    border: 4px solid #e8c775;
    overflow: hidden;
  }

  .hours-grid {
    gap: 0rem;
    padding-top: 0.6rem;
  }

  .hours-note {
    padding-top: 0;
    line-height: 2.3rem;
  }

  .hours-info .header-text img,
  .location-container .header-text img {
    max-width: none;
  }

  .days,
  .times {
    font-size: 20px;
    gap: 0.2rem;
  }

  .holiday-hours,
  .last-group {
    font-size: 18px;
  }

  .location-text {
    font-size: 20px;
  }

  .location-description {
    font-size: 18px;
    justify-content: left;
  }

  .mini-map {
    width: 28rem;
    height: 5.2rem;
    display: flex;
    justify-self: flex-end;
  }

  .copyright {
    font-size: 12px;
  }
}

/* Extra Large Desktop (2560px and up) */
@media (min-width: 2560px) {
  .footer-containers {
    gap: 4.4rem;
    height: 12rem;
  }

  .hours-container,
  .location-container {
    min-width: 68rem;
    height: 12rem;
  }

  .hours-info .header-text img,
  .location-container .header-text img {
    max-width: none;
  }

  .days,
  .times {
    font-size: 24px;
  }

  .holiday-hours,
  .last-group {
    font-size: 20px;
  }

  .location-container {
    grid-template-columns: 1fr 1fr;
  }

  .location-text {
    font-size: 24px;
  }

  .location-description {
    font-size: 20px;
    justify-content: center;
  }

  .mini-map {
    width: 34rem;
    height: 6.4rem;
  }

  .copyright {
    font-size: 16px;
  }
}
