footer {
  position: relative;
  box-shadow: 0 -2px 10px 2px #220001;
  box-sizing: border-box;
}

#footer-container {
  width: 100%;
}

.info-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #480204;
  padding: 0.6rem 0 0.4rem;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.footer-containers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  width: 100%;
  max-width: 17.5rem;
  height: 100%;
  transition: max-width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.hours-container,
.location-container {
  background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
  border-radius: 1rem;
  border: 2px solid #e8c775;
  color: #fff;
  font-family: var(--font-brygada);
  font-weight: var(--weight-bold);
  font-style: normal;
  text-shadow: -1px -1px 0 #a20003, 1px -1px 0 #a20003, -1px 1px 0 #a20003,
    1px 1px 0 #a20003;
  box-shadow: 0px 6px 10px rgba(34, 0, 1, 0.8);
  max-width: 45rem;
  width: 100%;
  height: 100%;
}

.hours-container {
  transition: padding 0.2s ease-in-out;
}

.location-container {
  transition: padding 0.5s ease-in-out;
}

.header-text {
  text-align: left;
}

.hours-info {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 0.6rem;
}

.hours-info .header-text img {
  max-width: 4rem;
  height: auto;
  padding-top: 0.2rem;
}

.location-container .header-text {
  margin-bottom: 0;
}

.location-container .header-text img {
  max-width: 5rem;
  height: auto;
  transition: max-width 0.3s ease-in-out;
}

.hours-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.2rem;
  margin: 0;
  transition: margin 0.3s ease-in-out, padding 0.3s ease-in-out,
    gap 0.3s ease-in-out;
}

.quick-hours {
  display: flex;
  justify-content: flex-end;
  gap: 0.4rem;
  transition: all 0.3s ease-in-out;
}

.days,
.times {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}

.hours-note {
  text-align: right;
  font-style: italic;
}

.holiday-hours {
  padding-top: 0.2rem;
}

.last-group {
  display: flex;
  flex-direction: column;
  text-align: end;
  color: #fff;
  font-family: var(--font-brygada);
  font-weight: var(--weight-bold);
  font-style: italic;
  text-shadow: -1px -1px 0 #a20003, 1px -1px 0 #a20003, -1px 1px 0 #a20003,
    1px 1px 0 #a20003;
  padding: 0.2rem 0 0;
}

.contact-button p {
  color: #fff;
  font-family: var(--font-brygada);
  font-weight: var(--weight-bold);
  font-style: normal;
  text-shadow: -1px -1px 0 #a20003, 1px -1px 0 #a20003, -1px 1px 0 #a20003,
    1px 1px 0 #a20003;
  padding: 0.2rem 0 0;
}

.contact-button {
  display: none;
}

.location-container {
  color: #fff;
  font-family: var(--font-brygada);
  font-weight: var(--weight-bold);
  font-style: italic;
  text-shadow: -1px -1px 0 #a20003, 1px -1px 0 #a20003, -1px 1px 0 #a20003,
    1px 1px 0 #a20003;
  margin-bottom: 0rem;
  padding: 0.4rem 0.6rem;
}

.header-text {
  grid-area: header;
  text-align: left;
}

.location-description {
  grid-area: description;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-style: italic;
  padding-top: 0.2rem;
}

.address-section {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.map-wrapper {
  display: none;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  z-index: 0;
  transition: all 0.4s ease-in-out;
}

.map-wrapper-small {
  display: none;
}

.address-comma {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.action-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer-btn,
.mini-map-button {
  width: 70%;
  transition: width 0.3s ease-in-out;
}

.mini-map-button {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.6rem;
  border: 2px solid #e8c775;
  background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
  box-shadow: 0px 6px 4px rgba(34, 0, 1, 0.8);
  padding: clamp(0.5rem, 4vw, 0.6rem) clamp(1rem, 6vw, 4rem);
  margin: 0 auto;
  transition: transform 0.3s ease;
}

.mini-map-button a {
  color: #fff;
  font-family: var(--font-brygada);
  font-weight: var(--weight-bold);
  font-style: normal;
  text-shadow: -1px -1px 0 #a20003, 1px -1px 0 #a20003, -1px 1px 0 #a20003,
    1px 1px 0 #a20003;
  cursor: pointer;
  text-align: center;
}

.mini-map-iframe {
  display: none;
  background: linear-gradient(90deg, #e8c775 0%, #f3e2b7 50%, #e8c775 100%);
  border-radius: 1rem;
  border: 2px solid #e8c775;
  outline-offset: 0.2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.mini-map-button:hover {
  transform: scale(1.05);
}

.footer-collapse-btn.hours-btn img {
  width: 100%;
  max-width: 4rem;
  transition: max-width 0.3s ease-in-out;
}

.footer-collapse-btn.location-btn img {
  max-width: 5rem;
  transition: max-width 0.3s ease-in-out;
}

.footer-collapse-btn {
  display: none;
  all: unset;
  cursor: pointer;
  background: linear-gradient(90deg, #480204 0%, #a20003 50%, #480204 100%);
  border: 2px solid #e8c775;
  border-radius: 0.8rem;
  color: #fff;
  font-family: var(--font-brygada);
  font-weight: var(--weight-bold);
  text-shadow: -1px -1px 0 #a20003, 1px -1px 0 #a20003, -1px 1px 0 #a20003,
    1px 1px 0 #a20003;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 10rem;
  height: 2rem;
  text-align: center;
  transition: transform 0.2s ease;
}

.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 2.2rem;
  border-radius: clamp(0.6rem, 1.5vw, 1.2rem);
  border: 2px solid #e8c775;
  background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
  box-shadow: 0px 6px 4px rgba(34, 0, 1, 0.8);
  z-index: 1;
  color: #fff;
  font-family: var(--font-brygada);
  font-weight: var(--weight-bold);
  font-style: normal;
  text-shadow: -1px -1px 0 #a20003, 1px -1px 0 #a20003, -1px 1px 0 #a20003,
    1px 1px 0 #a20003;
  transition: transform 0.3s ease, height 0.5s ease-in-out;
}

.footer-collapse-btn:hover {
  transform: scale(1.02);
}

#collapsible-footer-content.collapsed-view {
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 90rem;
  justify-content: center;
}

#collapsible-footer-content.collapsed-view .hours-container,
#collapsible-footer-content.collapsed-view .location-container {
  background: transparent;
  border: none;
  box-shadow: none;
  max-width: 22rem;
  width: 48%;
}

.footer-content {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: min(17.5rem, calc(100vw - 4.2rem));
  padding: 2rem;
  background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
  border-radius: 1rem;
  border: 2px solid #e8c775;
}

.location-container {
  display: flex;
  width: 100%;
}

.footer-content.active {
  display: block;
}

.modal-open {
  overflow: hidden;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(34, 0, 1, 0.8);
  z-index: 999;
}

.modal-overlay.active {
  display: block;
}

.copyright {
  font-family: var(--font-brygada);
  font-weight: var(--weight-regular);
  font-style: normal;
  color: white;
  text-align: center;
  margin: 0.4rem 0 0;
}

/* Media Queries */

@media (max-width: 319px) {
  .info-panel .footer-containers {
    border: none;
  }

  .hours-container,
  .location-container {
    display: flex;
    border: none;
    background: none;
    box-shadow: none;
    width: 100%;
    padding: 0;
  }

  .footer-collapse-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.6rem;
    width: 100%;
  }

  .footer-content.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    padding: 1rem 0.2rem;
    min-height: calc(100vh - 18rem);
    max-height: 20rem;
    transition: min-height 0.2s ease-in-out, max-height 0.2s ease-in-out;
  }

  .hours-container .hours-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hours-container .hours-info {
    padding: 0;
  }

  .hours-info .footer-content.active .hours-content .hours-grid .quick-hours {
    margin: 0;
  }

  .footer-content.active .holiday-hours,
  .footer-content.active .last-group,
  .footer-content.active .address-section {
    text-align: center;
  }

  .footer-content.active .quick-hours .days,
  .footer-content.active .quick-hours .times,
  .footer-content.active .holiday-hours,
  .footer-content.active .last-group,
  .footer-content.active .contact-button p,
  .footer-content.active .contact-button .footer-btn,
  .footer-content.active .address p,
  .footer-content.active .address-description p,
  .footer-content.active .mini-map-button a {
    font-size: 4vw;
  }

  .copyright-container .copyright p {
    font-size: 2.6vw;
  }

  .footer-content.active .contact-button .footer-btn {
    width: 80%;
  }

  .last-group .small-br {
    display: none;
  }

  .footer-content.active .header-text img {
    width: 24vw;
  }

  .footer-collapse-btn.location-btn img {
    width: 26vw;
  }

  .hours-container .footer-collapse-btn.hours-btn img {
    width: 18vw;
  }

  .location-container .footer-content.active .header-text {
    margin: 0;
  }

  .location-container .footer-content.active .header-text img {
    width: 34vw;
  }

  .footer-content.active .hours-content,
  .footer-content.active .quick-hours {
    width: 100%;
  }

  .times {
    align-items: center;
    text-align: center;
  }

  .footer-content.active .hours-content .last-group {
    padding: 0.6rem 2vw 0.4rem;
  }

  .contact-button {
    padding: 0 2vw;
  }

  .location-container .footer-content.location-detail.active .location-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  .footer-content.active .location-content .map-wrapper .mini-map-iframe {
    display: none;
  }

  .footer-content.active .location-content .map-wrapper .mini-map-button {
    display: flex;
  }

  .footer-content.active .location-content .map-wrapper {
    height: 100%;
  }

  .action-buttons,
  .footer-content.active .location-content .map-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  footer .info-panel {
    padding: 0.4rem 0.2rem 0.2rem;
  }

  .copyright-container .copyright {
    margin-top: 0.4rem;
  }
}

@media (min-width: 320px) and (max-width: 659px) and (min-height: 700px) {
  #collapsible-footer-content .quick-hours .days,
  #collapsible-footer-content .quick-hours .times,
  #collapsible-footer-content .contact-button p,
  #collapsible-footer-content .contact-button .footer-btn,
  #collapsible-footer-content .address p,
  #collapsible-footer-content .mini-map-button a {
    font-size: 12px;
  }

  #collapsible-footer-content .holiday-hours,
  #collapsible-footer-content .last-group,
  #collapsible-footer-content .address-description p {
    font-size: 10px;
  }

  .copyright-container .copyright p {
    font-size: 8px;
  }

  body .modal-overlay.active {
    display: none !important;
  }
}

@media (min-width: 320px) and (max-width: 659px) and (max-height: 700px) {
  #collapsible-footer-content .quick-hours .days,
  #collapsible-footer-content .quick-hours .times,
  #collapsible-footer-content .contact-button p,
  #collapsible-footer-content .contact-button .footer-btn,
  #collapsible-footer-content .address p,
  #collapsible-footer-content .mini-map-button a,
  #collapsible-footer-content .holiday-hours,
  #collapsible-footer-content .last-group,
  #collapsible-footer-content .address-description p {
    font-size: 14px;
  }

  .copyright-container .copyright p {
    font-size: 8px;
  }

  .map-wrapper {
    padding: 1rem;
  }
}

@media (max-width: 320px) and (min-height: 700px) {
  .footer-containers {
    border: none;
  }

  .footer-content .hours-info .header-text {
    width: 100%;
  }

  .hours-info .header-text img {
    width: 100%;
  }
}

@media (max-width: 319px) and (min-height: 450px) {
  #collapsible-footer-content
    > div.hours-container
    > div.hours-info
    > div
    > div.hours-content
    > div.contact-button {
    display: block;
  }

  .contact-button {
    text-align: center;
  }

  .contact-button .action-buttons {
    margin-top: 1rem;
  }

  .footer-content.active .location-content .location-description {
    margin-bottom: 0;
  }
}

@media (min-width: 320px) and (max-width: 1023px) and (max-height: 449px) {
  #collapsible-footer-content .footer-content.active {
    margin: 0;
    padding: 1rem;
    min-height: 14rem;
    gap: 0;
    transition: min-height 0.4s ease-in-out;
  }

  .hours-container .hours-info .footer-content.active .hours-content {
    height: auto;
    justify-content: center;
    gap: 2rem;
  }

  .hours-container .contact-button {
    display: none;
    animation: fadeIn 0.3s ease-in-out;
  }

  .footer-content.active .header-text,
  .footer-content.active .last-group {
    margin: 0;
    padding-bottom: 0;
  }

  #collapsible-footer-content .footer-content.location-detail.active {
    display: flex;
    flex-direction: column;
  }

  .footer-content.active .location-content {
    height: auto;
  }

  .footer-content.active .location-description {
    padding-top: 0;
    margin-bottom: 1rem;
  }

  .location-container .footer-content.location-detail.active {
    gap: 0;
  }

  .location-description {
    padding-top: 1rem;
  }

  .footer-content.active .map-wrapper {
    display: block;
    width: 12rem;
    height: auto;
  }

  .footer-content.active .location-content .map-wrapper .mini-map-button {
    display: flex;
    margin-top: 1rem;
    padding: clamp(0.5rem, 4vw, 0.6rem) clamp(0.6rem, 6vw, 2rem);
  }

  .location-container
    .footer-content.location-detail.active
    .location-content
    .map-wrapper
    .mini-map-iframe {
    display: none;
  }
}

@media (min-height: 450px) and (max-height: 700px) {
  .footer-content.active .location-description {
    margin-bottom: 1rem;
  }

  .contact-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 0 1rem;
    gap: 1rem;
    animation: fadeIn 0.3s ease-in-out;
  }

  .mini-map-button,
  .map-wrapper-small {
    display: none;
  }

  .mini-map-iframe {
    display: block;
    height: 100%;
    width: 100%;
  }

  .map-wrapper {
    display: block;
  }
}

@media (max-width: 660px) and (max-height: 700px) {
  .footer-content.active .hours-content .hours-grid .quick-hours {
    justify-content: center;
    margin: 0.6rem 0.2rem 0.4rem 0.2rem;
  }

  .footer-containers {
    border-radius: 0.8rem;
    border: 2px solid #e8c775;
  }
}

@media (min-width: 320px) and (max-width: 1023px) and (max-height: 700px),
  (min-width: 1024px) and (max-width: 1439px) and (max-height: 800px),
  (min-width: 1440px) and (max-width: 1919px) and (max-height: 800px) {
  .footer-containers {
    flex-direction: row;
    justify-content: space-evenly;
    background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
    margin: 0 1rem;
  }

  .footer-content.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 0.6rem;
    min-height: calc(100vh - 16rem);
    max-height: 20rem;
    transition: min-height 0.2s ease-in-out, max-height 0.2s ease-in-out;
  }

  .footer-content.active .header-text,
  .footer-content.active .hours-grid .hours-note,
  .footer-content.active .last-group,
  .footer-content.active .location-description {
    text-align: center;
    justify-content: center;
    gap: 0.6rem;
  }

  .footer-content.active .hours-grid .quick-hours {
    justify-content: space-between;
  }

  .hours-grid,
  .days,
  .times {
    gap: 1rem;
  }

  .header-text {
    margin-top: 1rem;
  }

  .last-group {
    margin-bottom: 1rem;
  }

  .last-group {
    padding: 0.6rem 0 0.4rem 0;
  }

  .hours-info {
    padding: 0;
  }

  .footer-collapse-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hours-container,
  .location-container {
    display: flex;
    justify-content: center;
    max-width: 10rem;
    width: 48%;
    background: none;
    border: none;
    box-shadow: none;
  }

  .hours-container {
    padding: 0.4rem 0 0.4rem 0.6rem;
    transition: padding 0.4s ease-in-out;
  }

  .location-container {
    padding: 0.4rem 0.6rem 0.4rem 0;
  }

  .hours-info .footer-content.active .header-text img {
    max-width: 4.6rem;
    transition: max-width 0.3s ease-in-out;
  }

  .location-container .footer-content.active .header-text img {
    max-width: 6.2rem;
    transition: max-width 0.3s ease-in-out;
  }

  .address-section {
    gap: 1rem;
  }
}

@media (min-height: 701px) and (min-width: 320px) and (max-width: 1023px),
  (min-height: 801px) and (min-width: 1024px) {
  .hours-container .footer-content,
  .location-container .footer-content {
    display: flex;
    flex-direction: column;
    position: static;
    transform: none;
    z-index: auto;
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .hours-container,
  .location-container {
    transition: all 0.4s ease-in-out;
  }

  .hours-info .header-text {
    position: absolute;
    width: fit-content;
  }

  .hours-content .hours-grid {
    margin: 0;
  }

  .location-container .header-text {
    position: relative;
  }

  .location-description {
    flex-direction: row;
    justify-content: space-between;
  }

  .location-container {
    align-items: center;
    justify-content: space-between;
  }

  .address-description {
    width: fit-content;
  }

  .map-wrapper-small {
    display: block;
    position: relative;
    right: 0;
    top: -1rem;
  }

  .mini-map-button {
    height: 2rem;
    width: 6rem;
    padding: 0;
  }

  .footer-collapse-btn {
    display: none;
  }
}

@media (min-width: 660px) {
  .footer-containers {
    max-width: 40rem;
    border-radius: 0.8rem;
    border: 2px solid #e8c775;
  }

  .hours-container,
  .location-container {
    width: 100%;
    max-width: none;
  }

  .footer-collapse-btn {
    width: 80%;
  }

  .footer-content.active {
    justify-content: space-evenly;
    width: min(40rem, calc(100vw - 1rem));
    padding: 2rem;
    min-height: calc(100vh - 8rem);
    gap: 0;
  }

  .footer-content.active .header-text {
    width: fit-content;
    margin: 0;
  }

  .footer-content.active .hours-content {
    width: 100%;
  }

  .footer-content.active .hours-grid {
    background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
    border-radius: 1rem;
    border: 2px solid #e8c775;
    padding: 1rem 6rem 1rem 5rem;
  }

  .footer-content.active .last-group {
    padding: 0;
    margin: 1rem 0;
  }

  .footer-content.active .days,
  .footer-content.active .times {
    gap: 0.8rem;
  }

  .footer-content.active .holiday-hours {
    padding: 0.2rem 0;
  }

  .days,
  .times,
  .address,
  .contact-button .footer-btn,
  .contact-button p,
  .address-description,
  .mini-map-button a {
    font-size: 16px;
  }

  .last-group,
  .holiday-hours,
  .address-description {
    font-size: 14px;
  }

  .copyright-container .copyright p {
    font-size: 10px;
  }

  .small-br {
    display: none;
  }

  .footer-content.active .footer-btn,
  #collapsible-footer-content .map-wrapper-small .mini-map-button {
    width: 12rem;
    height: 3rem;
    margin: 0;
  }

  .footer-content.active .location-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .footer-content.active .address {
    gap: 1rem;
  }

  .footer-content.active .map-wrapper .mini-map-iframe {
    height: calc(100vh - 70vh);
    padding-bottom: 0;
  }

  .map-wrapper-small .mini-map-button {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 660px) and (max-width: 1023px) and (max-height: 600px) {
  .footer-content.active {
    padding: 0 2rem;
  }

  .hours-grid,
  .last-group {
    transition: margin 0.3s ease-in-out;
  }

  .hours-grid {
    gap: 5%;
    margin: 2% 0;
    padding: 2% 6rem 4% 5rem;
  }

  .last-group {
    margin: 2% 0;
  }

  .contact-button {
    margin: 0.4rem;
  }
}

@media (min-width: 660px) and (max-width: 1023px) and (min-height: 700px) {
  .footer-containers {
    border: none;
  }

  .footer-content.active {
    justify-content: space-evenly;
    width: min(40rem, calc(100vw - 1rem));
    padding: 2rem;
    min-height: calc(100vh - 8rem);
    gap: 0;
  }

  .location-container {
    align-items: center;
    justify-content: space-between;
    max-height: 6rem;
  }

  .modal-overlay.active {
    display: none !important;
  }
}

@media (min-width: 1024px) {
  .footer-containers {
    max-width: 56.2rem;
    border: none;
  }

  .footer-collapse-btn {
    width: 85%;
    height: 2.8rem;
  }

  .hours-info .footer-content.active .header-text img,
  .hours-container .hours-info .header-text img,
  .footer-collapse-btn.hours-btn img {
    max-width: 5.2rem;
  }

  .location-container .footer-content.active .header-text img,
  .location-container .location-detail .header-text img,
  .footer-collapse-btn.location-btn img {
    max-width: 7.4rem;
  }

  .days,
  .times,
  .address,
  .mini-map-button a {
    font-size: 16px;
  }

  .holiday-hours,
  .last-group,
  .address-description,
  .contact-button .footer-btn,
  .contact-button p {
    font-size: 14px;
  }

  .copyright-container .copyright p {
    font-size: 12px;
  }

  .location-content .map-wrapper .mini-map-iframe {
    border-radius: 1rem;
    border: 4px solid #e8c775;
  }

  .footer-collapse-btn {
    border-radius: 1rem;
    border: 4px solid #e8c775;
  }

  .map-wrapper-small {
    width: 60%;
    height: 5.6rem;
    top: -2.4rem;
  }

  .map-wrapper-small .mini-map-button {
    display: none;
  }

  .location-content {
    height: 100%;
  }

  .map-wrapper-small .mini-map-iframe {
    display: block;
    height: 100%;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) and (max-height: 550px) {
  .hours-container .hours-info .footer-content.active,
  .location-container .footer-content.location-detail.active {
    min-height: calc(100vh - 30rem);
  }

  .footer-content.active .map-wrapper .mini-map-button {
    display: flex;
    flex-direction: column;
    height: 3rem;
    border-radius: 1rem;
    border: 4px solid #e8c775;
  }

  .footer-content.active .location-description {
    margin: 0;
  }

  .footer-content.active .map-wrapper {
    height: auto;
  }

  .footer-content.active .contact-button,
  .footer-content.active .map-wrapper .mini-map-iframe {
    display: none;
  }

  .location-container .footer-content.active .location-content,
  .footer-content.active .map-wrapper,
  .hours-info .footer-content.active .hours-content {
    height: auto;
    justify-content: center;
  }

  .footer-content.active .location-content {
    gap: 1rem;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) and (max-height: 700px) {
  .hours-info .footer-content.active,
  .location-container .footer-content.active {
    min-height: 24rem;
  }

  .footer-content.active .location-content {
    justify-content: center;
  }

  .contact-button {
    gap: 0;
  }

  .footer-content.location-detail.active
    .location-description
    .address-section {
    padding-bottom: 0;
  }

  .footer-content.active .map-wrapper .mini-map-iframe {
    height: 12rem;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) and (max-height: 800px) {
  .footer-containers {
    border-radius: 1rem;
    border: 4px solid #e8c775;
  }

  .footer-content.active {
    height: 100%;
    justify-content: center;
    min-height: calc(100vh - 20rem);
    gap: 1rem;
    border-radius: 1rem;
    border: 4px solid #e8c775;
  }

  .footer-content.active .hours-content,
  .footer-content.active .location-content,
  .footer-content.active .location-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .footer-content.active .hours-content .hours-grid {
    border-radius: 1rem;
    border: 4px solid #e8c775;
  }

  .contact-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .footer-content.active .address-section {
    padding-bottom: 1rem;
  }

  .footer-content.active .map-wrapper,
  .footer-content.active .mini-map-iframe {
    display: block;
  }

  .footer-content.active .mini-map-button {
    display: none;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) and (min-height: 801px) {
  .footer-containers .location-container .footer-content.active {
    justify-content: flex-start;
    width: 100%;
    max-height: 20rem;
    min-height: calc(100vh - 30rem);
    height: 100%;
    padding: 0;
    gap: 0;
  }

  .footer-containers
    .location-container
    .footer-content.active
    .location-content {
    height: auto;
  }

  .footer-containers
    .location-container
    .footer-content.active
    .location-content
    .location-description {
    width: 100%;
  }

  .footer-containers
    .location-container
    .footer-content.active
    .location-content
    .location-description
    .address-section {
    max-height: 4rem;
  }

  .location-container {
    display: block;
  }

  .footer-containers .hours-container {
    padding-top: 0.2rem;
  }

  .hours-container,
  .location-container {
    min-height: 7rem;
    max-height: 7rem;
    padding: 0.4rem 4rem;
    align-items: center;
    border-radius: 1rem;
    border: 4px solid #e8c775;
  }

  .hours-info {
    height: 100%;
    padding-top: 0;
  }

  .footer-content.active .hours-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .days,
  .times,
  .address,
  .mini-map-button a {
    font-size: 18px;
  }

  .holiday-hours,
  .last-group,
  .address-description,
  .contact-button .footer-btn,
  .contact-button p {
    font-size: 16px;
  }

  .hours-content .hours-grid {
    gap: 0.4rem;
  }

  .location-container .footer-content.active,
  .footer-content.active .location-content {
    gap: 1rem;
  }

  .footer-content.active .map-wrapper,
  .footer-content.active .map-wrapper .mini-map-iframe,
  .contact-button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-content.active .map-wrapper .mini-map-iframe {
    width: 100%;
    height: calc(100vh - 42rem);
    border-radius: 1rem;
    border: 4px solid #e8c775;
  }

  .footer-content.active .map-wrapper .mini-map-button {
    display: none;
  }

  .footer-content .action-buttons {
    margin-top: 1rem;
  }

  .footer-content.active .hours-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border-radius: 1rem;
    border: 4px solid #e8c775;
  }

  .footer-content.active .hours-grid .quick-hours {
    gap: 4rem;
    margin-right: 2.2rem;
  }

  .last-group {
    padding-top: 0.2rem;
  }

  .contact-button {
    display: none;
  }

  .modal-overlay.active {
    display: none !important;
  }

  .location-content {
    margin-bottom: 0.2rem;
  }
}

@media (min-width: 1440px) {
  .info-panel {
    align-items: center;
    padding: 0 2rem;
  }

  .footer-containers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 0.6rem 0;
    width: 100%;
    min-width: auto;
    max-width: 86rem;
  }

  .footer-content.active {
    min-height: calc(100vh - 12rem);
  }

  .hours-container,
  .location-container {
    display: flex;
    justify-content: space-evenly;
    max-width: 86rem;
    min-height: 8rem;
    height: 100%;
    padding: 0.4rem 1.6rem;
    border-radius: 1rem;
    border: 4px solid #e8c775;
  }

  .hours-container .hours-info .hours-content,
  .hours-container .hours-grid,
  .footer-content.active .location-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .hours-container .hours-info .header-text img,
  .footer-collapse-btn.hours-btn img,
  .hours-info .footer-content.active .header-text img {
    max-width: 6.2rem;
  }

  .location-container .location-detail .header-text img,
  .footer-collapse-btn.location-btn img,
  .location-container .footer-content.active .header-text img {
    max-width: 8.6rem;
  }

  .days,
  .times,
  .address,
  .mini-map-button a {
    font-size: 20px;
  }

  .copyright-container .copyright p {
    font-size: 14px;
  }

  .copyright-container .copyright {
    margin: 0.2rem 0 0.4rem;
  }

  .hours-grid {
    gap: 0;
  }

  .hours-container .quick-hours {
    gap: 2rem;
    padding: 0;
  }

  .hours-note {
    padding-top: 0;
  }

  .days,
  .times {
    gap: 0.6rem;
  }

  .hours-note .holiday-hours,
  .address-description,
  .contact-button p,
  .footer-content.active .action-buttons a {
    font-size: 18px;
  }

  .last-group {
    font-size: 18px;
    padding-top: 0.4rem;
  }

  .location-description {
    max-height: 4rem;
  }

  .map-wrapper-small {
    width: 54%;
    height: 5.8rem;
  }

  .mini-map-iframe {
    border-radius: 1rem;
    border: 4px solid #e8c775;
  }
}

@media (min-width: 1440px) and (max-width: 1919px) and (max-height: 550px) {
  .hours-container .hours-info .footer-content.active,
  .location-container .footer-content.location-detail.active {
    min-height: calc(100vh - 30rem);
  }

  .footer-content.active .map-wrapper .mini-map-button {
    display: flex;
    flex-direction: column;
    height: 5rem;
    border-radius: 1rem;
    border: 5px solid #e8c775;
  }

  .footer-content.active .location-description {
    margin: 0;
  }

  .footer-content.active .location-content .map-wrapper {
    height: auto;
    margin-top: 1.5rem;
  }

  .footer-content.active .map-wrapper .mini-map-button {
    width: 20rem;
  }

  .footer-content.active .contact-button,
  .footer-content.active .map-wrapper .mini-map-iframe {
    display: none;
  }

  .location-container .footer-content.active .location-content,
  .footer-content.active .map-wrapper,
  .hours-info .footer-content.active .hours-content {
    height: auto;
    justify-content: center;
  }

  .footer-content.active .location-content {
    gap: 1rem;
  }
}

@media (min-width: 1440px) and (max-width: 1919px) and (max-height: 700px) {
  .hours-info .footer-content.active,
  .location-container .footer-content.active {
    min-height: 24rem;
  }

  .footer-content.active .location-content {
    justify-content: center;
  }

  .contact-button {
    gap: 0;
  }

  .footer-content.location-detail.active
    .location-description
    .address-section {
    padding-bottom: 0;
  }

  .footer-content.active .map-wrapper .mini-map-iframe {
    height: 12rem;
  }

  .footer-content.active .location-description {
    margin-bottom: 0;
  }
}

@media (min-width: 1440px) and (max-width: 1919px) and (max-height: 800px) {
  .footer-containers {
    border-radius: 1rem;
    border: 4px solid #e8c775;
    margin: 0.6rem 0 0;
    background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
  }

  .footer-content.active {
    width: min(72rem, calc(100vw - 1rem));
    height: 100%;
    justify-content: center;
    min-height: calc(100vh - 20rem);
    gap: 1rem;
    border-radius: 1rem;
    border: 4px solid #e8c775;
    padding: 2rem 7.2rem;
  }

  .hours-container,
  .location-container {
    min-height: 5rem;
    border: none;
    width: 100%;
    padding: 0 1.6rem;
  }

  .footer-containers .footer-collapse-btn {
    height: 100%;
    min-height: 5rem;
    width: 100%;
    border-radius: 1rem;
    border: 4px solid #e8c775;
    background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
  }

  .footer-content.active .hours-content .quick-hours {
    padding: 0 4.2rem 0 0;
  }

  .footer-content.active .hours-content,
  .footer-content.active .location-content,
  .footer-content.active .location-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .footer-content.active .hours-content .hours-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    border: 4px solid #e8c775;
    height: auto;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
  }

  .contact-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .contact-button .action-buttons .footer-btn {
    width: 20rem;
    min-height: 5rem;
    border-radius: 1rem;
    border: 4px solid #e8c775;
  }

  .footer-content.active .address-section {
    padding-bottom: 1rem;
  }

  .footer-content.active .map-wrapper,
  .footer-content.active .mini-map-iframe {
    display: flex;
  }

  .footer-content.active .mini-map-button {
    display: none;
  }

  .footer-content.active .map-wrapper {
    min-height: calc(100vh - 40rem);
    margin-top: 3rem;
    width: 100%;
  }

  .footer-content.active .map-wrapper .mini-map-iframe {
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 1440px) and (max-width: 1919px) and (min-height: 801px) {
  .modal-overlay.active {
    display: none !important;
  }

  .hours-info {
    width: 100%;
  }

  .days,
  .times {
    gap: 0.2rem;
  }

  .last-group .small-br {
    display: none;
  }
}

@media (min-width: 1920px) {
  .footer-containers {
    max-width: 1920px;
    gap: 3.8rem;
  }

  .secondary-nav ul.flex-container {
    gap: 3.6rem;
  }

  .hours-container,
  .location-container {
    width: 100%;
    min-width: auto;
    min-height: 8.8rem;
    border-radius: 1rem;
    border: 5px solid #e8c775;
  }

  .location-container .footer-content {
    height: 100%;
    max-height: none;
    /* position: relative;
    top: -0.6rem; */
  }

  .hours-container .hours-info {
    width: 100%;
  }

  .hours-container .hours-grid {
    gap: 0.4rem;
  }

  .map-wrapper-small .mini-map-iframe {
    border-radius: 1rem;
    border: 5px solid #e8c775;
  }

  .days,
  .times,
  .address p {
    font-size: 24px;
  }

  .hours-note .holiday-hours,
  .address-description p,
  .contact-button p,
  .footer-content.active .action-buttons a,
  .last-group {
    font-size: 20px;
  }

  .copyright-container .copyright p {
    font-size: 18px;
  }

  .copyright-container .copyright {
    margin: 0 0 0.4rem;
  }
}

@media (min-width: 1920px) and (max-height: 550px) {
  .hours-container .hours-info .footer-content.active,
  .location-container .footer-content.location-detail.active {
    min-height: calc(100vh - 30rem);
  }

  .footer-content.active .map-wrapper .mini-map-button {
    display: flex;
    flex-direction: column;
    height: 5rem;
    border-radius: 1rem;
    border: 5px solid #e8c775;
  }

  .footer-content.active .location-description {
    margin: 0;
  }

  .footer-content.active .location-content .map-wrapper {
    height: auto;
    margin-top: 1.5rem;
  }

  .footer-content.active .map-wrapper .mini-map-button {
    width: 20rem;
  }

  .footer-content.active .contact-button,
  .footer-content.active .map-wrapper .mini-map-iframe {
    display: none;
  }

  .location-container .footer-content.active .location-content,
  .footer-content.active .map-wrapper,
  .hours-info .footer-content.active .hours-content {
    height: auto;
    justify-content: center;
  }

  .location-container .footer-content.active .location-content {
    gap: 0;
  }
}

@media (min-width: 1920px) and (max-height: 700px) {
  .hours-info .footer-content.active,
  .location-container .footer-content.active {
    min-height: 24rem;
  }

  .footer-content.active .location-content {
    justify-content: center;
  }

  .contact-button {
    gap: 0;
  }

  .footer-content.location-detail.active
    .location-description
    .address-section {
    padding-bottom: 0;
  }

  .footer-content.active .map-wrapper .mini-map-iframe {
    height: 12rem;
  }

  .footer-content.active .location-description {
    margin-bottom: 0;
  }
}

@media (min-width: 1920px) and (max-height: 800px) {
  .footer-containers {
    border-radius: 1rem;
    border: 5px solid #e8c775;
    margin: 0.6rem 0 0;
    background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
  }

  .footer-content.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: min(72rem, calc(100vw - 1rem));
    min-height: calc(100vh - 20rem);
    gap: 1.4rem;
    border-radius: 1rem;
    border: 4px solid #e8c775;
    padding: 2rem 7.2rem;
  }

  .hours-container,
  .location-container {
    min-height: 5rem;
    border: none;
    background: none;
    box-shadow: none;
    width: 100%;
  }

  .footer-containers .footer-collapse-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 5rem;
    width: 100%;
    min-width: auto;
    max-width: none;
    border-radius: 1rem;
    border: 5px solid #e8c775;
    background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
    padding-bottom: 0.4rem;
  }

  .hours-container .hours-info {
    width: auto;
  }

  .footer-content.active .hours-content .quick-hours {
    padding: 0 4.2rem 0 0;
  }

  .footer-content.active .hours-content,
  .footer-content.active .location-content,
  .footer-content.active .location-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .footer-content.active .location-content {
    gap: 1.4rem;
  }

  .footer-content.active .hours-content .hours-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    border: 5px solid #e8c775;
    height: auto;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
  }

  .footer-content.active .last-group {
    text-align: center;
    margin: 1.4rem 0;
  }

  .footer-content.active .location-description {
    max-height: none;
  }

  .hours-container .footer-collapse-btn.hours-btn img {
    max-width: 7rem;
  }

  .location-container .footer-collapse-btn.location-btn img {
    max-width: 9.8rem;
  }

  .contact-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
  }

  .contact-button .action-buttons .footer-btn {
    width: 20rem;
    min-height: 5rem;
    border-radius: 1rem;
    border: 5px solid #e8c775;
  }

  .footer-content.active .address-section {
    padding-bottom: 0;
    text-align: center;
    gap: 1.4rem;
  }

  .footer-content.active .map-wrapper,
  .footer-content.active .mini-map-iframe {
    display: flex;
  }

  .footer-content.active .mini-map-button {
    display: none;
  }

  .days,
  .times,
  .address,
  .mini-map-button a,
  .footer-content.active .action-buttons a {
    font-size: 24px;
  }

  .hours-note .holiday-hours,
  .address-description,
  .contact-button p,
  .last-group {
    font-size: 20px;
  }

  .footer-content.active .map-wrapper {
    min-height: calc(100vh - 40rem);
    width: 100%;
  }

  .footer-content.active .map-wrapper .mini-map-iframe {
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 1920px) and (min-height: 800px) {
  .modal-overlay.active {
    display: none !important;
  }
}

@media (min-width: 2056px) {
  .days,
  .times,
  .address,
  .mini-map-button a,
  .footer-content.active .action-buttons a {
    font-size: 26px;
  }

  .hours-note .holiday-hours,
  .address-description,
  .contact-button p,
  .last-group {
    font-size: 24px;
  }

  .copyright-container .copyright p {
    font-size: 20px;
  }

  .days,
  .times {
    gap: 0.2rem;
  }

  .hours-container .hours-info .hours-content {
    gap: 0;
  }

  .hours-container .hours-grid {
    justify-content: unset;
    height: auto;
  }

  .last-group {
    padding-top: 0.2rem;
  }

  .hours-container,
  .location-container {
    min-height: 9.4rem;
    align-items: center;
  }

  .location-container {
    padding-top: 0;
  }

  .location-container .footer-content {
    min-height: 7rem;
  }

  .location-container .location-description {
    max-height: 5rem;
  }

  .location-container .map-wrapper-small {
    height: 7.3rem;
  }
}
