footer {
  z-index: 2;
  box-shadow: 0px -2px 6px 2px rgba(34, 0, 1, 0.633);
  box-sizing: border-box;
}

#footer-container {
  width: 100%;
}

.info-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #480204;
  padding: 0.6rem 0 0.4rem;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.footer-containers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.hours-container,
.location-container {
  background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
  border-radius: 1.2rem;
  border: 2px solid #e8c775;
  color: #fff;
  font-family: var(--font-brygada);
  font-weight: var(--weight-bold);
  font-style: normal;
  text-shadow: -1px -1px 0 #a20003, 1px -1px 0 #a20003, -1px 1px 0 #a20003,
    1px 1px 0 #a20003;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* height: 6rem; */
  max-width: 45rem;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.header-text {
  text-align: left;
}

.hours-container {
  display: flex;
  flex-direction: column;
}

.hours-info {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 0.6rem 0rem;
}

.hours-info .header-text img {
  max-width: 4rem;
  height: auto;
  padding-top: 0.2rem;
}

.location-container .header-text {
  margin-bottom: 0;
}

.location-container .header-text img {
  max-width: 5rem;
  height: auto;
}

.hours-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.2rem;
}

.quick-hours {
  display: flex;
  justify-content: space-between;
  gap: 0.4rem;
}

.days,
.times {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  font-size: 10px;
}

.hours-note {
  text-align: right;
  font-size: 12px;
  font-style: italic;
}

.holiday-hours {
  font-size: 10px;
  padding-top: 0.2rem;
}

.last-group {
  display: flex;
  flex-direction: column;
  text-align: end;
  color: #fff;
  font-size: 10px;
  font-family: var(--font-brygada);
  font-weight: var(--weight-bold);
  font-style: italic;
  text-shadow: -1px -1px 0 #a20003, 1px -1px 0 #a20003, -1px 1px 0 #a20003,
    1px 1px 0 #a20003;
  padding: 0.3rem 0.6rem 0.4rem 0rem;
}

.location-container {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "header map"
    "description map";
  color: #fff;
  font-family: var(--font-brygada);
  font-weight: var(--weight-bold);
  font-style: italic;
  text-shadow: -1px -1px 0 #a20003, 1px -1px 0 #a20003, -1px 1px 0 #a20003,
    1px 1px 0 #a20003;
  margin-bottom: 0rem;
  padding: 0.4rem 0.6rem;
}

.header-text {
  grid-area: header;
  text-align: left;
}

.location-description {
  grid-area: description;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 10px;
  font-style: italic;
  padding-top: 0.2rem;
}

.address {
  font-size: 10px;
  padding-bottom: 0.2rem;
}

.map-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.mini-map-button {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  border: 2px solid #e8c775;
  background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
  box-shadow: 0px 6px 4px rgba(34, 0, 1, 0.8);
  padding: clamp(0.5rem, 4vw, 0.6rem) clamp(1rem, 6vw, 4rem);
  transition: transform 0.3s ease, width 0.5s ease-in-out,
    height 0.5s ease-in-out;
}

.mini-map-button a {
  font-size: 12px;
  color: #fff;
  font-family: var(--font-brygada);
  font-weight: var(--weight-bold);
  font-style: normal;
  text-shadow: -1px -1px 0 #a20003, 1px -1px 0 #a20003, -1px 1px 0 #a20003,
    1px 1px 0 #a20003;
  cursor: pointer;
  text-align: center;
}

.mini-map-iframe {
  display: none;
}

.mini-map-button:hover {
  transform: scale(1.05);
}

.copyright {
  font-family: var(--font-brygada);
  font-weight: var(--weight-regular);
  font-style: normal;
  color: white;
  text-align: center;
  margin: 0.4rem 0 0;
  font-size: 8px;
}

/* Media Queries */

@media (min-width: 660px) {
  .footer-containers {
    min-width: 40rem;
  }

  .hours-container,
  .location-container {
    max-width: 40rem;
  }

  .hours-info .header-text img {
    max-width: 4.8rem;
  }

  .days,
  .times {
    font-size: 14px;
  }

  .hours-note .holiday-hours {
    font-size: 13px;
    padding-top: 0;
  }

  .last-group {
    font-size: 14px;
    padding-bottom: 0.2rem;
  }

  .location-container .header-text img {
    max-width: 6.8rem;
  }

  .address {
    font-size: 14px;
  }

  .location-description {
    font-size: 12px;
  }

  .mini-map-button {
    display: none;
  }

  .mini-map-iframe {
    display: block;
    height: 100%;
    width: 100%;
  }

  .map-wrapper {
    height: 5rem;
    width: 100%;
    padding-left: 2rem;
  }

  .location-container {
    grid-template-columns: max-content 1fr;
    grid-template-areas:
      "header map"
      "description map";
    padding: 0.4rem 0.8rem;
  }
}

@media (min-width: 1024px) {
  .info-panel {
    align-items: center;
    padding: 0 2rem;
  }

  .footer-containers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.4rem;
    width: 100%;
    padding: 0.4rem 0 0;
    max-width: 900px;
  }

  .hours-container,
  .location-container {
    display: flex;
    justify-content: space-around;
    max-width: 66rem;
    height: 6rem;
    padding: 0 1rem 0rem;
    border-radius: 1rem;
    border: 4px solid #e8c775;
  }

  .hours-container {
    padding: 0.4rem 1rem;
  }

  .hours-grid {
    gap: 0;
  }

  .hours-info {
    padding: 0;
  }

  .hours-info .header-text img {
    max-width: 5rem;
  }

  .days,
  .times {
    font-size: 16px;
  }

  .hours-note {
    padding-top: 0.2rem;
    font-size: 16px;
  }

  .hours-note .holiday-hours {
    font-size: 14px;
  }

  .last-group {
    font-size: 14px;
    padding: 0;
  }

  .location-container {
    display: grid;
    grid-template-columns: max-content 2fr;
    grid-template-rows: auto auto;
    gap: 0px;
    margin: 0 auto;
    padding: 0.4rem 1rem;
  }

  .location-container .header-text img {
    max-width: 6.6rem;
  }

  .header-text {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: left;
  }

  .address {
    font-size: 14px;
    padding: 0.2rem 0 0;
  }

  .map-wrapper {
    height: 4.8rem;
    padding-left: 0.4rem;
  }

  .location-description {
    text-align: left;
    font-size: 12px;
    font-style: normal;
    justify-content: flex-start;
    padding: 0;
  }

  .map-text {
    visibility: visible;
  }

  .city-postal {
    display: flex;
    gap: 4px;
  }
}

@media (min-width: 1440px) {
  .info-panel {
    align-items: center;
    padding: 0 2rem;
  }

  .footer-containers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.8rem;
    width: 100%;
    padding: 1rem 2rem 0;
    max-width: 1440px;
  }

  .hours-container,
  .location-container {
    display: flex;
    justify-content: space-evenly;
    max-width: 66rem;
    height: 8rem;
    padding: 0.4rem 1rem 0rem;
  }

  .hours-info {
    padding: 0;
  }

  .hours-info .header-text img {
    max-width: 6rem;
  }

  .days {
    font-size: 22px;
  }

  .times {
    font-size: 20px;
  }

  .hours-note {
    padding-top: 0.4rem;
  }

  .hours-note .holiday-hours {
    font-size: 18px;
  }

  .last-group {
    font-size: 20px;
    padding: 0;
  }

  .last-group br {
    display: none;
  }

  .location-container {
    display: grid;
    grid-template-columns: max-content 2fr;
    grid-template-rows: auto auto;
    gap: 0px;
    margin: 0 auto;
    padding: 0.6rem 1.2rem;
  }

  .location-container .header-text img {
    max-width: 8rem;
  }

  .header-text {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: left;
  }

  .address {
    font-size: 20px;
    padding-top: 0.2rem;
  }

  .map-wrapper {
    height: 6.6rem;
    padding-left: 1rem;
  }

  .location-description {
    text-align: left;
    font-size: 18px;
    font-style: normal;
    justify-content: flex-start;
  }

  .map-text {
    visibility: visible;
  }

  .city-postal {
    display: flex;
    gap: 4px;
  }
}

@media (min-width: 1920px) {
  .footer-containers {
    max-width: 1920px;
  }

  .hours-container {
    justify-content: space-evenly;
  }

  .hours-container,
  .location-container {
    height: 8.8rem;
  }

  .hours-info .header-text img {
    max-width: 8rem;
  }

  .quick-hours {
    padding-top: 0.2rem
  }

  .days {
    padding-right: 0.8rem;
  }

  .days,
  .times {
    font-size: 24px;
  }

  /* .hours-note .holiday-hours {
    padding-top: 0.2rem;
  } */

  .hours-note .holiday-hours,
  .last-group {
    font-size: 22px;
  }

  .location-container {
    padding-top: 0.8rem;
  }

  .location-container .header-text img {
    max-width: 10.6rem;
  }

  .location-description {
    font-size: 20px;
  }

  .address {
    font-size: 24px;
    padding: 0;
  }

  .map-wrapper {
    padding-left: 1.8rem;
    height: 6.8rem;
  }
}
