body.menu-open {
  overflow-x: hidden;
}

header {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #480204;
  z-index: 100;
  box-shadow: 0px 4px 6px 0px rgba(34, 0, 1, 0.633);
}

.header-containers {
  width: 100%;
}

/* Header Backgrounds */
.header-top-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.8rem;
  background-color: #480204;
  box-shadow: 0 4px 10px 4px #220001;
  z-index: 1;
}

.header-bottom-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  z-index: 0;
}

.parchment-background {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.parchment-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.parchment-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  opacity: 0.5;
  background: #220001;
  box-shadow: 0px 2px 6px 2px rgba(34, 0, 1, 0.37);
  outline: 0.8px rgba(120, 94, 40, 0.7) solid;
  filter: blur(2px);
  z-index: 6;
}

/* Header Sections */

.header-top,
.header-bottom {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  padding: 0;
}

.header-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header-bottom {
  display: none;
}

.header-nav-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 18rem;
}

/* Logo */
.logo-container {
  flex: 1;
  display: flex;
  transition: transform 0.3s ease;
  z-index: 1000;
}

.logo-container img {
  max-height: 60px;
  width: auto;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
  transition: transform 0.3s ease, max-height 0.8s cubic-bezier(0, 1, 0, 1), width 0.8s ease-in-out;
}

.logo-container img:hover {
  transform: scale(105%);
}

/* Primary Nav */
.primary-nav {
  width: 100%;
  flex: 1;
}

.primary-nav .flex-container {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  gap: 0.4rem;
  margin: 0.8rem 0;
}

.primary-nav li:first-child {
  flex-basis: 100%;
}

/* View Your Photos Button */
.header-background-bar {
  position: relative;
  width: 100%;
  min-width: auto;
  padding: 0.2rem 0.4rem;
  margin-bottom: 0.2rem;
  border: 2px solid #e8c775;
  border-radius: 0.8rem;
  background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
  box-shadow: 0px 6px 4px rgba(34, 0, 1, 0.8);
  z-index: 0;
  overflow: hidden;
  box-sizing: border-box;
  transition: transform 0.2s ease, min-width 0.5s ease-in-out,
    height 0.5s ease-in-out;
}

.header-background-bar:hover {
  transform: scale(101%);
}

.header-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header-bar .view-your-photos-text img {
  max-height: 1.4rem;
  width: auto;
  margin-top: 0.1rem;
  padding: 0 0.7rem;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1), width 0.5s ease-in-out;
}

.primary-nav .flex-container li {
  display: flex;
  justify-content: center;
}

.buttons {
  display: none;
}

/* Social Media Icons */
.flex-container .facebook-icon a img,
.flex-container .instagram-icon a img {
  width: 2.4rem;
  height: 2.4rem;
  box-shadow: 0px 4px 4px rgba(34, 0, 1, 0.8);
  box-sizing: border-box;
  border-radius: 0.6rem;
  transition: transform 0.2s ease, width 0.3s ease-in-out,
    height 0.3s ease-in-out;
}

.flex-container li:nth-child(2) a img:hover,
.flex-container li:nth-child(3) a img:hover {
  transform: scale(106%);
}

/* Hamburger Menu (Mobile Only) */
.hamburger-menu {
  display: block;
  background: none;
  border: none;
  height: 100%;
}

.hamburger-menu img {
  box-shadow: 0px 6px 4px rgba(34, 0, 1, 0.8);
  border-radius: 0.6rem;
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}

.hamburger-menu:hover {
  transform: scale(105%);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 100%;
  height: 100vh;
  width: 80%;
  background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
  z-index: 2000;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.mobile-menu.show {
  transform: translateX(-100%);
  box-shadow: -8px 0 8px rgb(44, 6, 6);
}

.site-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
  border: 2px solid #e8c775;
  border-radius: 0.8rem;
  box-shadow: 0 4px 6px 6px rgba(34, 0, 1, 0.8);
}

.site-links li {
  height: 100%;
  border-bottom: 1px solid rgba(232, 199, 117, 0.2);
}

.flex-container-mobile {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.flex-container-mobile li {
  padding: 0.5rem 0;
  text-align: center;
  transition: transform 0.3s ease, font-size 0.5s ease-in-out;
  cursor: pointer;
}

.flex-container-mobile .social-media-links li a {
  gap: 0.2rem;
}

.flex-container-mobile li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  color: #fff;
  font-family: var(--font-brygada);
  font-weight: var(--weight-bold);
  font-style: normal;
  text-shadow: -1px -1px 0 #a20003, 1px -1px 0 #a20003, -1px 1px 0 #a20003,
    1px 1px 0 #a20003;
}

.flex-container-mobile li:hover {
  background: rgba(212, 175, 55, 0.1);
  transform: translateX(5px);
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 0;
}

.menu-header img {
  height: 1.8rem;
}

.close-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.close-btn img {
  width: 2.4rem;
  height: 2.4rem;
}

@media (max-width: 320px) {
  .header-background-bar {
    border-radius: 0.6rem;
  }

  .header-containers {
    margin: 0 0.2rem;
  }

  .header-menu {
    width: auto;
    max-width: none;
  }

  .header-nav-top,
  .logo-container a img,
  .view-your-photos-text,
  .header-bar .view-your-photos-text img {
    width: 100%;
  }

  .logo-container {
    width: 100%;
  }

  .hamburger-menu {
    min-width: 1rem;
  }

  .hamburger-menu img {
    width: calc(100vw - 8rem);
    min-width: 2rem;
    max-width: 2.4rem;
    height: auto;
  }

  .header-nav-top .primary-nav .flex-container {
    gap: 0;
  }

  .buttons {
    display: none;
  }
}

@media (max-width: 659px) {
  .secondary-nav-mobile {
    height: 100%;
  }

  .flex-container-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .social-media-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
  }

  .social-media-links li a img {
    width: 2.4rem;
    height: 2.4rem;
  }
}

@media (min-width: 660px) {
  /* Header Top Section */

  .header-top {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 40rem;
  }

  .header-nav-top {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .header-top-background {
    height: 6rem;
  }

  .logo-container img {
    max-height: 6rem;
  }

  .hamburger-menu {
    display: none;
  }

  .primary-nav {
    display: flex;
    justify-content: flex-end;
  }

  .primary-nav .flex-container {
    margin: 0;
    padding-top: 0.4rem;
  }

  .header-background-bar {
    border: 2px solid #e8c775;
    border-radius: 0.8rem;
  }

  .header-bar .view-your-photos-text img {
    max-height: 1.8rem;
  }

  .flex-container .facebook-icon a img,
  .flex-container .instagram-icon a img {
    width: 2.8rem;
    height: 2.8rem;
  }

  .secondary-nav-mobile {
    height: 100%;
  }

  .flex-container-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .buttons {
    display: flex;
    gap: 0.4rem;
  }

  .modal-overlay {
    display: none;
  }

  /* Header Bottom Section */
  .header-bottom {
    position: relative;
    z-index: 2;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0;
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: none;
  }

  .header-nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    width: 100%;
    z-index: 0;
  }

  .header-bottom-background {
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    width: 100vw;
    height: 7.4rem;
    z-index: 0;
    pointer-events: none;
  }

  .parchment-background {
    position: absolute;
    inset: 0;
    z-index: 1;
    height: 100%;
  }

  .parchment-background img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 500;
  }

  .parchment-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.4rem;
    opacity: 0.5;
    background: #220001;
    box-shadow: 0px 2px 6px 2px rgba(34, 0, 1, 0.37);
    outline: 0.8px rgba(120, 94, 40, 0.7) solid;
    filter: blur(2px);
    z-index: 6;
  }

  /* Secondary Navigation */
  .secondary-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    z-index: 1000;
  }

  .secondary-nav ul.flex-container {
    display: flex;
    gap: 2.8rem;
  }

  .secondary-nav a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-family: var(--font-brygada);
    font-weight: var(--weight-bold);
    font-style: normal;
    text-shadow: -1px -1px 0 #a20003, 1px -1px 0 #a20003, -1px 1px 0 #a20003,
      1px 1px 0 #a20003;
    transition: transform 0.3s ease, font-size 0.5s ease-in-out;
  }

  .secondary-nav a:hover {
    transform: scale(106%);
  }

  .nav-background-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 40rem;
    height: 3rem;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: max-width 0.5s ease-in-out, height 0.5s ease-in-out;
  }

  .nav-bar {
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
    border: 2px solid #e8c775;
    background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
    box-shadow: 0px 6px 4px rgba(34, 0, 1, 0.8);
    transition: none;
  }
}

@media (min-width: 1024px) {
  .header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 56.2rem;
    margin: 0 auto;
  }

  .header-nav {
    top: 0rem;
  }

  .header-nav-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .primary-nav .flex-container {
    gap: 2rem;
  }

  .header-menu {
    max-width: none;
  }

  .buttons {
    gap: 1.8rem;
  }

  .header-top-background {
    height: 7rem;
  }

  .logo-container img {
    max-height: 7rem;
  }

  .header-background-bar {
    border: 4px solid #e8c775;
    border-radius: 0.8rem;
    padding: 0.5rem 1rem;
  }

  .header-bar .view-your-photos-text img {
    max-height: 2rem;
  }

  .flex-container .facebook-icon a img,
  .flex-container .instagram-icon a img {
    width: 3.6rem;
    height: 3.6rem;
  }

  .header-bottom {
    max-width: 56.2rem;
  }

  .header-bottom-background {
    top: 5rem;
  }

  .parchment-border {
    bottom: -0.2rem;
    height: 10px;
  }

  .nav-background-bar {
    max-width: 56.2rem;
    height: 3rem;
    top: 1rem;
  }

  .nav-bar {
    border-radius: 0.8rem;
    border: 4px solid #e8c775;
  }

  .secondary-nav ul.flex-container {
    gap: 4.8rem;
  }

  .secondary-nav a {
    font-size: 18px;
  }
}

@media (min-width: 1440px) {
  .header-containers {
    display: flex;
    flex-direction: column;
  }

  .header-top {
    display: flex;
    flex-direction: column;
    gap: 0;
    max-width: 86rem;
    max-height: 6.8rem;
    height: 100%;
  }

  .header-top-background {
    height: 6.5rem;
  }

  .logo-container img {
    max-height: 12rem;
  }

  .primary-nav {
    position: relative;
    top: 1.4rem;
  }

  .primary-nav .flex-container {
    gap: 2rem;
    padding: 0;
  }

  .header-bar .view-your-photos-text img {
    max-height: 2.6rem;
  }

  .header-background-bar {
    border: 5px solid #e8c775;
    border-radius: 1rem;
    padding: 0.4rem 5.4rem;
    margin-bottom: 0.1rem;
  }

  .buttons {
    gap: 2rem;
  }

  .flex-container .facebook-icon a img,
  .flex-container .instagram-icon a img {
    width: 4.2rem;
    height: 4.2rem;
  }

  .header-bottom-background {
    top: 6rem;
    height: 6.2rem;
  }

  .parchment-border {
    bottom: -0.6rem;
    height: 1rem;
  }

  .nav-background-bar {
    height: 4.4rem;
    padding: 0;
    left: 0;
    top: 0.1rem;
    transform: none;
  }

  .nav-bar {
    border: 5px solid #e8c775;
    border-radius: 1rem;
  }

  .header-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    gap: 0;
    max-width: 86rem;
    max-height: 6.8rem;
    height: 100%;
    margin: 0 auto;
  }

  .header-nav {
    position: relative;
    max-width: 42.6rem;
    justify-content: flex-end;
    align-items: center;
    min-height: 4.4rem;
  }

  .header-nav-top {
    height: 100%;
    align-items: flex-start;
  }

  .secondary-nav ul.flex-container {
    position: relative;
    gap: 2.4rem;
    margin: 0;
  }

  .secondary-nav a {
    font-size: 20px;
  }
}

@media (min-width: 1920px) {
  .header-top,
  .header-bottom {
    max-width: 116rem;
  }

  .header-bottom {
    min-height: 5.8rem;
  }

  .header-top-background {
    height: 6.8rem;
  }

  .header-bottom-background {
    height: 6.6rem;
  }

  .header-background-bar {
    padding: 0.4rem 9.1rem;
    margin-bottom: 0.1rem;
  }

  .header-background-bar,
  .nav-bar {
    border: 5px solid #e8c775;
    border-radius: 1rem;
  }

  .nav-background-bar {
    height: 4.5rem;
    left: auto;
    top: auto;
    max-width: 56.2rem;
    min-width: 56.2rem;
  }

  .header-bar .view-your-photos-text img {
    max-height: 2.8rem;
  }

  header .secondary-nav ul.flex-container {
    gap: 3.6rem;
  }

  .secondary-nav {
    width: 56.2rem;
  }

  .secondary-nav a {
    font-size: 24px;
  }

  .header-nav {
    width: 100%;
    min-width: auto;
    max-width: none;
    left: 0;
  }

  .primary-nav .flex-container {
    gap: 5rem;
  }

  .buttons {
    gap: 3rem;
  }

  .flex-container .facebook-icon a img,
  .flex-container .instagram-icon a img {
    width: 4.6rem;
    height: 4.6rem;
  }
}

@media (min-width: 2056px) {
  .header-top,
  .header-bottom {
    max-width: 120rem;
  }

  .secondary-nav a {
    font-size: 26px;
  }

  header .secondary-nav ul.flex-container {
    gap: 3.4rem;
  }
}
