body.menu-open {
  overflow-x: hidden;
}

header {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #480204;
  z-index: 100;
  box-shadow: 0px 4px 6px 0px rgba(34, 0, 1, 0.633);
}
/* Header Backgrounds */
.header-top-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: #480204;
  box-shadow: 0 4px 10px 4px #220001;
  z-index: 2;
}

.header-bottom-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  z-index: 1;
}

.parchment-background {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.parchment-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.parchment-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  opacity: 0.5;
  background: #220001;
  box-shadow: 0px 2px 6px 2px rgba(34, 0, 1, 0.37);
  outline: 0.8px rgba(120, 94, 40, 0.7) solid;
  filter: blur(2px);
  z-index: 6;
}

/* Header Sections */

.header-top,
.header-bottom {
  position: relative;
  z-index: 2;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
}

.header-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header-bottom {
  display: none;
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Logo */
.logo-container {
  flex: 1;
  display: flex;
  transition: transform 0.3s ease;
}

.logo-container img {
  max-height: 60px;
  width: auto;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
  transition: max-height 0.8s cubic-bezier(0, 1, 0, 1), width 0.8s ease-in-out;
}

.logo-container:hover {
  transform: scale(105%);
}

/* Primary Nav */
.primary-nav {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.primary-nav .flex-container {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  gap: 0.4rem;
  margin: 0.8rem 0;
}

.primary-nav li:first-child {
  flex-basis: 100%;
}

/* View Your Photos Button */
.header-background-bar {
  position: relative;
  width: 100%;
  min-width: auto;
  padding: 0.2rem 0.4rem;
  margin-bottom: 0.2rem;
  border: 2px solid #e8c775;
  border-radius: 0.8rem;
  background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
  box-shadow: 0px 6px 4px rgba(34, 0, 1, 0.8);
  z-index: 0;
  overflow: hidden;
  box-sizing: border-box;
  transition: transform 0.2s ease, min-width 0.5s ease-in-out,
    height 0.5s ease-in-out;
}

.header-background-bar:hover {
  transform: scale(101%);
}

.header-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header-bar .view-your-photos-text img {
  max-height: 1.4rem;
  width: auto;
  margin-top: 0.1rem;
  padding: 0 0.7rem;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1), width 0.5s ease-in-out;
}

.primary-nav .flex-container li {
  display: flex;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}

/* Social Media Icons */
.flex-container .facebook-icon a img,
.flex-container .instagram-icon a img {
  width: 2.4rem;
  height: 2.4rem;
  box-shadow: 0px 4px 4px rgba(34, 0, 1, 0.8);
  box-sizing: border-box;
  border-radius: 0.6rem;
  transition: transform 0.2s ease, width 0.3s ease-in-out,
    height 0.3s ease-in-out;
}

.flex-container li:nth-child(2) a img:hover,
.flex-container li:nth-child(3) a img:hover {
  transform: scale(106%);
}

/* Hamburger Menu (Mobile Only) */
.hamburger-menu {
  display: block;
  background: none;
  border: none;
}

.hamburger-menu img {
  box-shadow: 0px 6px 4px rgba(34, 0, 1, 0.8);
  border-radius: 0.6rem;
  width: 2.4rem;
  height: 2.4rem;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100vw;
  height: 100vh;
  width: 80vw;
  background-color: #480204;
  z-index: 2000;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.mobile-menu.show {
  transform: translateX(-100vw);
}

.flex-container-mobile {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.flex-container-mobile li {
  padding: 0.5rem 0;
  text-align: center;
  transition: transform 0.3s ease, font-size 0.5s ease-in-out;
  cursor: pointer;
}

.flex-container-mobile li a {
  padding: 0.5rem 0;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  color: #fff;
  font-family: var(--font-brygada);
  font-weight: var(--weight-bold);
  font-style: normal;
  text-shadow: -1px -1px 0 #a20003, 1px -1px 0 #a20003, -1px 1px 0 #a20003,
    1px 1px 0 #a20003;
}

.flex-container-mobile li:hover {
  background: rgba(212, 175, 55, 0.1);
  transform: translateX(5px);
}

.menu-header {
  padding: 2rem;
}

.menu-header img {
  height: 3.6rem;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 4.6rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.close-btn img {
  width: 3rem;
  height: 3rem;
}

@media (min-width: 660px) {
  .header-background-bar {
    min-width: 48rem;
    padding: 0.4rem 0rem;
  }

  .header-bar .view-your-photos-text img {
    max-height: 2.6rem;
  }

  .flex-container .facebook-icon a img,
  .flex-container .instagram-icon a img {
    width: 4.2rem;
    height: 4.2rem;
  }
}

/*==================================================
  Medium Desktops (1024px and up)
==================================================*/
@media (min-width: 1024px) {
  .header-top {
    flex-direction: row; /* Return to horizontal layout */
    justify-content: flex-end; /* Align to the right */
    min-height: 8rem;
  }

  .header-top-background {
    height: 8rem;
  }

  .logo-container {
    position: absolute; /* Take the logo out of the flow to position it on the left */
    top: 0;
    left: 0;
  }

  .logo-container img {
    max-height: 15rem; /* Larger logo on desktop */
  }

  .primary-nav {
    justify-content: flex-end;
  }

  .header-background-bar {
    min-width: 42.8rem;
  }

  .header-bar .view-your-photos-text img {
    max-height: 2.8rem;
  }

  .primary-nav .flex-container {
    gap: 2rem;
  }

  .flex-container .facebook-icon a img,
  .flex-container .instagram-icon a img {
    width: 4.6rem;
    height: 4.4rem;
  }

  /* Secondary Nav */
  .header-bottom {
    display: flex; /* Show secondary nav on desktop */
    justify-content: flex-end;
    min-height: 8rem;
  }
}

/*==================================================
  Large Desktops (1920px and up)
==================================================*/
@media (min-width: 1920px) {
  .header-top {
    min-height: 12rem;
  }

  .header-top-background {
    max-height: 10rem;
  }

  .header-background-bar {
    border: 4px solid #e8c775;
    min-width: 53rem;
  }

  .header-bar .view-your-photos-text img {
    max-height: 4rem;
  }

  .flex-container .facebook-icon a img,
  .flex-container .instagram-icon a img {
    width: 6.6rem;
    height: 6.6rem;
  }

  .logo-container img {
    max-height: 22rem;
    bottom: 1.6rem;
  }

  .secondary-nav a {
    font-size: 24px;
    padding: 1.3rem;
  }

  .nav-background-bar,
  .secondary-nav {
    max-width: 70rem;
    min-height: 6rem;
  }
}

/*==================================================
  Extra Large Desktops (2560px and up)
==================================================*/
@media (min-width: 2560px) {
  .header-background-bar {
    min-width: 60.8rem;
  }

  .nav-background-bar,
  .secondary-nav {
    max-width: 78rem;
  }

  .secondary-nav a {
    font-size: 26px;
    padding: 1.6rem;
  }

  .header-bar .view-your-photos-text img {
    max-height: 4.4rem;
  }
}
