header {
  position: relative;
  width: 100vw;
  box-shadow: 0px 2px 6px 2px rgba(34, 0, 1, 0.633);
  transition: none;
}

#header-container {
  position: relative;
  z-index: 100;
  transition: none;
}

/* Header Top Section */

.header-top-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 16.8rem;
  background-color: #480204;
  box-shadow: 0 4px 10px 4px #220001;
  z-index: 1;
}

.header-bottom-background {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  transition: none;
}

.header-top,
.header-bottom {
  position: relative;
  z-index: 2;
}

.header-top {
  position: relative;
  z-index: 2;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: none;
}

.logo-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.logo-container img {
  max-height: 12rem;
  width: auto;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
  transition: max-height 0.8s cubic-bezier(0, 1, 0, 1), width 0.8s ease-in-out;
}

.logo-container:hover {
  transform: scale(105%);
}

/* Primary Navigation */
.primary-nav {
  position: relative;
  width: 100vw;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-container {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 0.8rem;
  justify-content: flex-end;
}

/* View Your Photos Button */
.header-background-bar {
  position: relative;
  width: 100%;
  min-width: 35rem;
  max-width: 45rem;
  padding: 0.4rem;
  margin-bottom: 0.2rem;
  border: 2.8px solid #e8c775;
  border-radius: 1rem;
  background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
  box-shadow: 0px 6px 4px rgba(34, 0, 1, 0.8);
  z-index: 0;
  overflow: hidden;
  box-sizing: border-box;
  transition: transform 0.2s ease, min-width 0.5s ease-in-out,
    height 0.5s ease-in-out;
}

.header-background-bar:hover {
  transform: scale(101%);
}

.header-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header-bar .view-your-photos-text img {
  max-height: 2.4rem;
  width: auto;
  margin-top: 0.2rem;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1), width 0.5s ease-in-out;
}

.primary-nav li {
  display: block;
  width: 100%;
  height: 100%;
}

/* Social Media Icons */
.primary-nav li .facebook-icon,
.primary-nav li .instagram-icon {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.primary-nav li img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.flex-container .facebook-icon a img,
.flex-container .instagram-icon a img {
  width: 4.2rem;
  height: 4rem;
  transition: transform 0.2s ease, width 0.3s ease-in-out,
    height 0.3s ease-in-out;
}

.flex-container li:nth-child(2) a img:hover,
.flex-container li:nth-child(3) a img:hover {
  transform: scale(106%);
}

/* Header Bottom Section */
.header-bottom {
  position: relative;
  z-index: 2;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 2rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: none;
}

.header-nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 7rem;
  width: 100%;
  z-index: 0;
}

.header-bottom-background {
  position: absolute;
  top: 16.8rem;
  left: 0;
  right: 0;
  width: 100vw;
  height: 8rem;
  z-index: 0;
  pointer-events: none;
}

.parchment-background {
  position: absolute;
  inset: 0;
  z-index: 1;
  height: 100%;
}

.parchment-background img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 500;
}

.parchment-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  opacity: 0.5;
  background: #220001;
  box-shadow: 0px 2px 6px 2px rgba(34, 0, 1, 0.37);
  outline: 0.8px rgba(120, 94, 40, 0.7) solid;
  filter: blur(2px);
  z-index: 6;
}

/* Secondary Navigation */
.secondary-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  z-index: 1000;
}

.secondary-nav ul.flex-container {
  width: 100%;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 1.6rem;
}

.more-dropdown {
  display: none;
  position: relative;
}

.more-dropdown .more-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  z-index: 1001;
}

.more-dropdown svg {
  display: block;
  height: 1.4em;
  width: auto;
  overflow: visible;
}

.dropdown-menu {
  position: absolute;
  top: 2.7rem;
  left: 0;
  background: linear-gradient(90deg, #5d0305 0%, #480204 100%);
  padding: 10px 0;
  border: 2px solid #e8c775;
  border-top: none;
  border-left: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.4s ease, opacity 0.2s ease, visibility 0.2s ease;
  z-index: 2000;
}

.dropdown-menu::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -2px;
  width: 2px;
  height: calc(100% - 20px);
  background: #e8c775;
  border-radius: 0 0 0 1.2rem;
}

.dropdown-menu::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -2px;
  width: 1.2rem;
  height: 1.6rem;
  border: 2px solid #e8c775;
  border-top: none;
  border-right: none;
  border-bottom-left-radius: 1.2rem;
  background: transparent;
}

.dropdown-menu.show {
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
}

.dropdown-menu li {
  padding: 0;
  margin: 0;
}

.dropdown-menu li a {
  display: block;
  white-space: nowrap;
  transition: transform 0.3s ease;
}

.dropdown-menu li a:hover {
  transform: scale(106%);
}

.dropdown-arrow {
  display: block;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.more-dropdown.open .dropdown-arrow {
  transform: rotate(180deg);
}

.secondary-nav a {
  display: inline-block;
  text-decoration: none;
  font-size: 24px;
  padding: 2rem;
  color: #fff;
  font-family: var(--font-brygada);
  font-weight: var(--weight-bold);
  font-style: normal;
  text-shadow: -1px -1px 0 #a20003, 1px -1px 0 #a20003, -1px 1px 0 #a20003,
    1px 1px 0 #a20003;
  transition: transform 0.3s ease, font-size 0.5s ease-in-out;
}

.secondary-nav a:hover {
  transform: scale(106%);
}

.nav-background-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 45rem;
  height: 4.2rem;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: max-width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.nav-bar {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  border: 2px solid #e8c775;
  background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
  box-shadow: 0px 6px 4px rgba(34, 0, 1, 0.8);
  transition: none;
}

/* #region Media Queries */

@media (max-width: 480px) {
  .secondary-nav .flex-container {
    gap: 1.5rem;
  }

  .secondary-nav a {
    font-size: 14px;
    padding: 0.6rem 1rem;
  }

  .logo-container img {
    max-height: 60px;
  }

  .primary-nav img {
    height: 3.5rem;
    width: 3.5rem;
  }
}

@media (min-width: 660px) {

  /* #region Primary Nav */

  .header-background-bar {
    min-width: 48rem;
    padding: 0.4rem 0rem;
  }

  .header-bar .view-your-photos-text img {
    max-height: 2.6rem;
    width: auto;
    margin-top: 0.2rem;
  }

  .flex-container .facebook-icon a img,
  .flex-container .instagram-icon a img {
    width: 4.2rem;
    height: 4.2rem;
  }

  /* #endregion */

  /* #region Secondary Nav */

  .nav-background-bar {
    max-width: 58rem;
  }

  .secondary-nav a {
    font-size: 22px;
  }

  .secondary-nav .dropdown-menu {
    width: 10.3rem;
  }

  .secondary-nav ul.flex-container {
    gap: 4.8rem;
  }

  /* #endregion */

}

@media (max-width: 1024px) {
  .header-top {
    flex-direction: column;
  }

  .primary-nav {
    justify-content: center;
  }

  .secondary-nav .flex-container {
    flex-wrap: wrap;
    gap: 5.2rem;
  }

  .dropdown-menu {
    width: 10.2rem;
    left: -1rem;
  }

  .dropdown-menu li {
    padding: 0;
    margin: 0;
  }

  .dropdown-menu li a {
    padding: 1rem 1.6rem;
    display: block;
    white-space: nowrap;
    font-size: 16px;
    color: #fff;
    font-family: var(--font-brygada);
    font-weight: var(--weight-bold);
    text-shadow: -1px -1px 0 #a20003, 1px -1px 0 #a20003, -1px 1px 0 #a20003,
      1px 1px 0 #a20003;
    transition: transform 0.2s ease;
  }

  .dropdown-menu li a:hover {
    transform: scale(1.05);
  }

  .secondary-nav a {
    font-size: 16px;
    padding: 8px 8px;
  }

  .more-dropdown {
    display: block;
  }

  .more-dropdown.show {
    display: block;
  }
}

@media (min-width: 1024px) {

  .logo-container {
    position: absolute;
    top: 0;
    left: 0;
  }

  .logo-container img {
    max-height: 15rem;
  }

  .logo-container:hover {
    transform: scale(102%);
  }

  /* #region Primary Nav */
  .primary-nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .header-top {
    padding: 0rem 2rem;
    min-height: 8rem;
  }

  .header-top-background {
    max-height: 8rem;
  }

  .header-background-bar {
    min-width: 42.8rem;
  }

  .header-bar .view-your-photos-text img {
    max-height: 2.8rem;
  }

  .primary-nav .flex-container {
    gap: 2rem;
  }

  .flex-container .facebook-icon a img,
  .flex-container .instagram-icon a img {
    width: 4.6rem;
    height: 4.4rem;
  }

  /* #endregion */

  /* #region Secondary Nav */

  .header-nav {
    min-height: 8rem;
    display: flex;
    justify-content: flex-end;
  }

  .nav-background-bar,
  .secondary-nav {
    max-width: 56rem;
    position: absolute;
    left: auto;
    top: 20%;
    right: 0;
    transform: translateY(0.2rem);
  }

  .header-bottom {
    padding: 0rem 2rem;
  }

  .header-bottom-background {
    position: absolute;
    top: 8rem;
    left: 0;
    right: 0;
    width: 100vw;
    height: 8rem;
    z-index: 0;
    pointer-events: none;
  }

  .secondary-nav a {
    font-size: 16px;
    padding: 1.4rem 1.2rem 1.2rem;
  }

  .secondary-nav ul.flex-container {
    gap: 1.4rem;
    justify-content: center;
  }

  /* #endregion */

}

@media (min-width: 1920px) {

  .header-top {
    min-width: 1440px;
    min-height: 12rem;
  }

  .header-bottom {
    min-width: 1440px;
  }

  .header-top-background {
    max-height: 10rem;
  }

  .header-bottom-background {
    top: 10rem;
    height: 10rem;
  }

  .header-background-bar {
    border: 4px solid #e8c775;
    min-width: 53rem;
  }

  .nav-background-bar,
  .secondary-nav {
    max-width: 70rem;
    min-height: 6rem;
    top: 5%;
  }

  .secondary-nav ul.flex-container {
    gap: 0;
    justify-content: center;
  }

  .nav-bar {
    border: 4px solid #e8c775;
  }

  .secondary-nav a {
    font-size: 24px;
    padding: 1.3rem;
  }

  .header-bar .view-your-photos-text img {
    max-height: 4rem;
  }

  .flex-container .facebook-icon a img,
  .flex-container .instagram-icon a img {
    width: 6.6rem;
    height: 6.6rem;
  }

  .logo-container img {
    position: relative;
    bottom: 1.6rem;
    max-height: 22rem;
  }
}

@media (min-width: 2560px) {

  .header-top {
    min-width: 1440px;
    min-height: 12rem;
  }

  .header-bottom {
    min-width: 1440px;
  }

  .header-top-background {
    max-height: 10rem;
  }

  .header-bottom-background {
    top: 10rem;
    height: 10rem;
  }

  .header-background-bar {
    border: 4px solid #e8c775;
    min-width: 60.8rem;
  }

  .nav-background-bar,
  .secondary-nav {
    max-width: 78rem;
    min-height: 6rem;
    top: 5%;
  }

  .secondary-nav ul.flex-container {
    gap: 0;
    justify-content: center;
  }

  .nav-bar {
    border: 4px solid #e8c775;
  }

  .secondary-nav a {
    font-size: 26px;
    padding: 1.6rem;
  }

  .header-bar .view-your-photos-text img {
    max-height: 4.4rem;
  }

  .flex-container .facebook-icon a img,
  .flex-container .instagram-icon a img {
    width: 6.6rem;
    height: 6.6rem;
  }

}

/* #endregion */
