/* Historical Pet Portraits CSS */

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: none;
  background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
}

/* Screen reader only content */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.historical-pet-portraits-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  position: relative;
  overflow: visible;
  z-index: 1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  box-shadow: 0px 3px 2px rgba(34, 0, 1, 0.8);
  border-radius: 0.25rem;
  padding: 0.6rem;
}

.hpp-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 17.4rem;
  height: 100%;
  overflow-y: auto;
  border: 2px solid #e8c775;
  border-radius: 0.8rem;
  padding: 0 0.6rem 0.6rem;
  background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
}

.hpp-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  top: -1rem;
}

.hpp-info .content-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.2rem;
  border-radius: clamp(0.6rem, 1.5vw, 1.2rem);
  border: 2px solid #e8c775;
  background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
  box-shadow: 0px 6px 4px rgba(34, 0, 1, 0.8);
  z-index: 1;
  font-size: 12px;
  color: #fff;
  font-family: var(--font-brygada);
  font-weight: var(--weight-bold);
  font-style: normal;
  text-shadow: -1px -1px 0 #a20003, 1px -1px 0 #a20003, -1px 1px 0 #a20003,
    1px 1px 0 #a20003;
  transition: transform 0.3s ease, height 0.5s ease-in-out;
}

.hpp-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.hpp-list ol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.6rem;
  height: 100%;
}

.large-view-content {
  display: none;
}

.content-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100%;
  max-height: calc(100vh - 28.4rem);
  width: 100%;
  margin: 0 auto;
  gap: 0.6rem;
}

.hpp {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  animation: fadeIn 0.5s ease-in-out;
  padding-top: 0.6rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hpp-header-wrapper {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
  z-index: 50;
  gap: 0.6rem;
  padding-top: 0.6rem;
}

.hpp-header-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
  border-bottom: 2px solid #e8c775;
  border: 2px solid #e8c775;
  border-radius: 0.8rem;
  transition: all 0.3s ease-in-out;
}

.hpp-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  padding: 0.6rem 0.4rem;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.hpp-header-container .hpp-header img {
  max-width: 12rem;
}

.hpp-header-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 0.4rem;
}

.hpp-description {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.2rem;
  font-size: 10px;
  transition: all 0.3s ease-in-out;
}

.hpp-header-description h1,
.hpp-content h1,
.hpp-content h2 {
  color: #fff;
  font-size: 10px;
  font-family: var(--font-brygada);
  font-weight: var(--weight-bold);
  text-shadow: -1px -1px 0 #a20003, 1px -1px 0 #a20003, -1px 1px 0 #a20003,
    1px 1px 0 #a20003;
  line-height: 1.2;
  text-align: center;
}

.hpp-header-description p,
.hpp-content p,
.tips-and-tricks li {
  color: #fff;
  font-size: 9px;
  font-family: var(--font-brygada);
  font-weight: var(--weight-bold);
  text-shadow: -1px -1px 0 #a20003, 1px -1px 0 #a20003, -1px 1px 0 #a20003,
    1px 1px 0 #a20003;
  line-height: 1.2;
  text-align: center;
}

.hpp-list ol li {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.action-buttons {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 0 0.6rem;
  gap: 0.3rem;
  z-index: 2;
  transition: padding 0.3s ease-in-out;
}

.action-buttons p {
  font-style: italic;
}

.hpp-list .action-buttons {
  padding-top: 0;
}

.action-buttons-short {
  display: none;
}

.hpp-list li:nth-child(1) span {
  font-size: 10px;
  font-style: italic;
}

.hpp-container .btn {
  width: 10rem;
}

/* Dropdown Styling */

#howItWorksToggle {
  border-radius: clamp(0.6rem, 1.5vw, 1.2rem);
  border: 2px solid #e8c775;
  background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
  box-shadow: 0px 6px 4px rgba(34, 0, 1, 0.8);
  padding: 0.6rem;
}

#howItWorksToggle h1 {
  font-size: 12px;
}

.accordion-header {
  cursor: pointer;
  user-select: none;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  padding: 0 1rem;
}

.accordion-content.open {
  position: relative;
  top: -1rem;
  max-height: 100rem;
  padding: 2rem 1rem 1rem;
}

.accordion-item {
  width: 100%;
}

/* Video Styling */

.hpp-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 99%;
}

.hpp-video iframe,
.hpp-video video {
  width: 100%;
  height: 100%;
  border: 2px solid #e8c775;
  border-radius: 0.8rem;
}

#youtube-button-fallback {
  padding: 0.6rem;
  border: 2px solid #e8c775;
  border-radius: 0.8rem;
  gap: 0.6rem;
}

#youtube-button-fallback a {
  text-align: center;
}

/* WebKit browsers: Chrome, Safari, Edge */
.hpp-content::-webkit-scrollbar {
  width: 0.2rem;
}

.hpp-content::-webkit-scrollbar-thumb {
  background-color: #e8c775;
  border-radius: 6px;
  border: 6px solid #e8c775;
  cursor: pointer;
}

.hpp-content::-webkit-scrollbar-thumb:hover {
  background-color: #d4a550;
}

/* Firefox */
.hpp-content {
  scrollbar-width: thin;
  scrollbar-color: #e8c775 #480204;
}

/* #region Height Adjustments */

/* #region .content-area removal: */
@media (max-width: 660px) and (max-height: 700px),
  (min-width: 660px) and (max-width: 1023px) and (max-height: 930px),
  (min-width: 1024px) and (max-width: 1439px) and (max-height: 910px),
  (min-width: 1440px) and (max-width: 1989px) and (max-height: 1035px),
  (min-width: 1920px) and (max-height: 1230px) {
  .hpp-content {
    padding-bottom: 0.6rem;
  }

  .hpp-header {
    justify-content: center;
  }

  .hpp-header-wrapper,
  .hpp-header-container,
  .hpp-header {
    height: 100%;
  }

  .content-area,
  .action-buttons {
    display: none;
  }

  .hpp-header-container .hpp-header {
    flex-direction: column;
    justify-content: center;
  }

  .hpp-header-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .action-buttons-short {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}

/* 1440px and 1920px Hpp img adjustment: */
@media (min-width: 1440px) and (max-width: 1989px) and (max-height: 1035px),
  (min-width: 1920px) and (max-height: 1230px) {
  .hpp-header-wrapper .hpp-header-container .hpp-header img {
    padding: 0 0 1rem;
    min-width: 10rem;
  }
}
/* #endregion */

/* #region .hpp-description removal: */
@media (max-width: 660px) and (max-height: 580px),
  (min-width: 660px) and (max-width: 1023px) and (max-height: 660px),
  (min-width: 1024px) and (max-width: 1439px) and (max-height: 590px),
  (min-width: 1440px) and (max-width: 1989px) and (max-height: 805px),
  (min-width: 1920px) and (max-height: 750px) {
  .content-area {
    max-height: calc(100vh - 27rem);
  }

  .hpp-header .hpp-description {
    display: none;
  }
}

/* 1440px Hpp img adjustment: */
@media (min-width: 1440px) and (max-width: 1989px) and (max-height: 805px),
  (min-width: 1920px) and (max-height: 750px) {
  .hpp-header-wrapper .hpp-header-container .hpp-header img {
    padding: 0;
    min-width: 10rem;
  }

  .hpp-header-description {
    gap: 0.2;
  }
}
/* #endregion */

/* #region .hpp-header-description and .hpp-header-container border removal: */
@media (max-width: 660px) and (max-height: 500px),
  (min-width: 660px) and (max-width: 1023px) and (max-height: 585px),
  (min-width: 1024px) and (max-width: 1439px) and (max-height: 545px),
  (min-width: 1440px) and (max-width: 1989px) and (max-height: 715px),
  (min-width: 1920px) and (max-height: 730px) {
  .hpp-header-description h1 {
    display: none;
  }

  .hpp-header-wrapper .hpp-header-container {
    border: none;
  }

  .hpp-header {
    gap: 1rem;
  }
}

@media (min-width: 1920px) and (max-height: 730px) {
  .hpp-container .hpp-content {
    padding: 0;
  }
}
/* #endregion */

/* #endregion */

/* #region Mobile View (660px) */

@media (min-width: 660px) and (max-width: 1023px) {
  .hpp-header-container .hpp-header img {
    max-width: 16rem;
  }

  .hpp-content {
    max-width: 40rem;
    padding-bottom: 0.6rem;
  }

  .hpp-header-description h1 {
    font-size: 18px;
    line-height: 1.4;
  }

  .hpp-description p {
    font-size: 16px;
    line-height: 1.4;
  }

  .content-area {
    max-height: calc(100vh - 36.8rem);
  }

  .hpp-container .btn {
    width: 14rem;
    font-size: 18px;
    line-height: 1.4;
  }

  .small-br {
    display: none;
  }

  .medium-br {
    display: block;
  }

  .photo-stack {
    height: 18rem;
  }

  .side-portrait {
    max-width: 8rem;
    margin: 0 0.4rem;
  }

  .portrait-control-small {
    padding: 0 0.8rem;
  }

  .portrait-nav-btn img {
    width: 3rem;
  }
}

/* #endregion */

/* #region Tablet View (1024px) */

@media (min-width: 1024px) and (max-width: 1439px) {
  .hpp-container {
    padding: 1rem;
  }

  .hpp-header-container {
    border: 4px solid #e8c775;
    margin: 0;
  }

  .hpp-header-container .hpp-header img {
    max-width: 6.4rem;
  }

  .hpp-header {
    gap: 0.8rem;
  }

  .hpp-content {
    max-width: 56rem;
    padding: 1rem;
    border: 4px solid #e8c775;
  }

  .hpp-header-description h1 {
    font-size: 18px;
    line-height: 1.4;
  }

  .hpp-description p {
    font-size: 16px;
    line-height: 1.4;
  }

  .content-area {
    max-height: calc(100vh - 32.2rem);
    padding: 0;
  }

  .action-buttons {
    padding: 0 0 1rem;
  }

  .hpp-container .btn {
    width: 18rem;
    height: 3rem;
    font-size: 18px;
    line-height: 1.4;
    border: 4px solid #e8c775;
  }

  .small-br,
  .medium-br {
    display: none;
  }

  .photo-stack {
    height: 20rem;
  }

  .side-portrait {
    max-width: 12rem;
    margin: 0 1rem;
  }

  .portrait-control-small {
    padding: 0 1rem;
  }

  .portrait-nav-btn img {
    width: 4rem;
  }
}

/* #endregion */

/* #region Small Desktop View (1440px) */

@media (min-width: 1440px) and (max-width: 1989px) {
  .hpp-container {
    padding: 1rem;
  }
  .content-area {
    justify-content: center;
  }

  .hpp {
    height: auto;
    padding: 1.4rem 0;
  }

  .hpp-header {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem 0.8rem;
  }

  .hpp-content,
  .hpp-header-container {
    border: 5px solid #e8c775;
  }

  .hpp-header-container {
    margin: 0;
  }

  .hpp-header-container .hpp-header img {
    min-width: 14rem;
    max-width: none;
    padding: 0.8rem 2rem;
  }

  .hpp-content {
    max-width: 86rem;
    padding: 2rem;
  }

  .hpp-header-description {
    width: auto;
  }

  .hpp-header-description h1 {
    font-size: 20px;
    line-height: 1.4;
  }

  .hpp-description p {
    font-size: 18px;
    line-height: 1.4;
  }

  .content-area {
    max-height: calc(100vh - 37rem);
    padding: 0;
  }

  .action-buttons {
    padding: 0 0 1rem;
  }

  .hpp-container .btn {
    width: 20rem;
    height: 5rem;
    font-size: 20px;
    line-height: 1.4;
    border: 5px solid #e8c775;
  }

  .small-br {
    display: none;
  }

  .photo-stack {
    height: 22rem;
  }

  .side-portrait {
    max-width: 14rem;
    margin: 0 1rem;
  }

  .portrait-control-small {
    padding: 0 1rem;
  }

  .portrait-nav-btn img {
    width: 6rem;
  }
}

/* #endregion */

/* #region Large Desktop View (1920px) */

@media (min-width: 1920px) {
  .content-area {
    justify-content: center;
  }

  .hpp {
    height: auto;
  }

  .hpp-header-container {
    margin: 0;
  }

  .hpp-header-container .hpp-header img {
    min-width: 16rem;
    max-width: none;
    padding: 0.6rem 2rem;
  }

  .hpp-content {
    max-width: 116rem;
    padding: 2rem;
  }

  .hpp-content,
  .hpp-header-container {
    border: 5px solid #e8c775;
  }

  .hpp-header-description {
    width: auto;
  }

  .hpp-header-description h1 {
    font-size: 24px;
    line-height: 1.4;
  }

  .hpp-description p {
    font-size: 22px;
    line-height: 1.4;
  }

  .content-area {
    max-height: calc(100vh - 39rem);
    margin: 0;
  }

  .action-buttons {
    padding: 0;
  }

  .hpp-container .btn {
    width: 24rem;
    height: 5rem;
    font-size: 24px;
    line-height: 1.4;
  }

  .small-br {
    display: none;
  }

  .photo-stack {
    height: 32rem;
  }

  .side-portrait {
    max-width: 18rem;
    margin: 0 2rem;
  }

  .portrait-control-small {
    padding: 0 1rem;
  }

  .portrait-nav-btn img {
    width: 6rem;
  }
}

/* #endregion */
