.services {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
}

.services-container {
  flex: 1;
  position: relative;
  z-index: 1;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.6rem;
  gap: 0.6rem;
  animation: fadeIn 0.5s ease-in-out;
}

/* Dropdown Navigation */
.sidebar {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 10;
  width: 100%;
  background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
}

.sidebar-header {
  display: none;
}

.dropdown-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 1rem;
  cursor: pointer;
  background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
  border: 2px solid #e8c775;
  border-radius: 0.8rem;
  position: relative;
  min-height: 2.6rem;
  width: 100%;
  max-width: 17rem;
  z-index: 100;
}

.dropdown-header.open {
  position: relative;
  align-items: center;
  min-height: 2.6rem;
  border-radius: 0.8rem 0.8rem 0 0;
  border-bottom: none;
  z-index: 10;
}

.dropdown-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.dropdown-title img {
  max-width: 4rem;
  height: auto;
}

.dropdown-title span {
  color: #fff;
  font-weight: bold;
  text-shadow: -1px -1px 0 #a20003, 1px -1px 0 #a20003, -1px 1px 0 #a20003,
    1px 1px 0 #a20003;
}

.dropdown-arrow {
  color: #e8c775;
  margin-top: 0.2rem;
  transition: transform 0.3s ease;
}

.dropdown-arrow.open {
  transform: rotate(180deg);
  margin: 0 0 0.2rem;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 1rem;
  background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
  border: 2px solid #e8c775;
  border-top: none;
  border-bottom: none;
  border-radius: 0 0 0.8rem 0.8rem;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.dropdown-menu.open {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-height: 20rem;
  min-height: 20rem;
  height: 100%;
  width: 100%;
  max-width: 17rem;
  border-bottom: 2px solid #e8c775;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  box-shadow: 0px 6px 4px rgba(34, 0, 1, 0.8);
  z-index: 1;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding-left: 1rem;
  height: 100%;
  width: 100%;
  padding: 0.4rem 0.5rem;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  font-family: var(--font-brygada);
  font-weight: var(--weight-bold);
  text-shadow: -1px -1px 0 #a20003, 1px -1px 0 #a20003, -1px 1px 0 #a20003,
    1px 1px 0 #a20003;
  text-align: left;
  border-bottom: 1px solid rgba(232, 199, 117, 0.2);
}

.nav-item:first-of-type {
  padding-top: 2rem;
}

.nav-item:last-child {
  border-bottom: none;
}

.nav-item:hover {
  background: rgba(212, 175, 55, 0.1);
}

.nav-item.active {
  background: rgba(212, 175, 55, 0.2);
}

.content-area {
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.service-content {
  display: none;
  height: 100%;
  animation: fadeIn 0.5s ease-in-out;
}

.service-content.active {
  display: flex;
  flex-direction: column;
  position: relative;
  -webkit-overflow-scrolling: touch;
  border: 2px solid #e8c775;
  border-radius: 0.8rem;
  max-height: calc(100vh - 24.6rem);
  width: 100%;
  max-width: 17rem;
  background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
  padding: 0.6rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.service-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.service-header img {
  max-width: 8rem;
  height: auto;
}

#themes .service-header img {
  max-width: 7.8rem;
}

#historical-pet .service-header img {
  max-width: 10rem;
}

.service-description {
  line-height: 1.2;
  color: #fff;
  font-weight: bold;
  font-family: var(--font-brygada);
  font-weight: var(--weight-bold);
  text-shadow: -1px -1px 0 #a20003, 1px -1px 0 #a20003, -1px 1px 0 #a20003,
    1px 1px 0 #a20003;
  text-align: center;
  padding: 0 0.25rem;
  margin: 0 0 0.2rem;
}

.service-gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  flex: 1;
  min-height: 2rem;
  overflow-y: auto;
  overflow: hidden;
}

.gallery-item {
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.1);
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#historical-pet .gallery-item {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#historical-pet .gallery-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}

#historical-pet .gallery-item .hover-img {
  opacity: 0;
}

#historical-pet .gallery-item:hover .default-img {
  opacity: 0;
}

#historical-pet .gallery-item:hover .hover-img {
  opacity: 1;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
  margin-top: auto;
  padding-top: 0.5rem;
}

.services-container .btn-primary {
  width: 14rem;
  height: 2.4rem;
  border-radius: 0.8rem;
  border: 2px solid #e8c775;
  background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
  box-shadow: 0px 6px 4px rgba(34, 0, 1, 0.8);
  padding: 0 0.5rem;
  color: #fff;
  font-weight: bold;
  font-family: var(--font-brygada);
  font-weight: var(--weight-bold);
  text-shadow: -1px -1px 0 #a20003, 1px -1px 0 #a20003, -1px 1px 0 #a20003,
    1px 1px 0 #a20003;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}

.btn-primary:hover {
  transform: scale(1.02);
}

.small-br {
  display: block;
}

.medium-br {
  display: none;
}

@media (max-width: 320px) {
  .services-container h3,
  .services-container a,
  .services-container .nav-item {
    font-size: 4vw;
  }

  .services-container .btn-primary {
    width: 90%;
    height: 2.4rem;
  }

  .service-header {
    max-width: 18rem;
  }
}

@media (min-width: 320px) and (max-width: 659px) {
  .services-container h3,
  .services-container a,
  .services-container .nav-item {
    font-size: 12px;
  }

  .services-container .btn-primary {
    width: 14rem;
    height: 2.4rem;
  }
}

@media (min-width: 660px) {
  .services-container {
    max-width: 40rem;
    padding: 0.6rem 0;
  }

  .dropdown-header,
  .dropdown-menu.open,
  .service-content.active {
    max-width: 40rem;
  }

  .dropdown-title img {
    max-width: 6rem;
    transition: max-width 0.3s ease;
  }

  .dropdown-header {
    padding: 0.6rem;
  }

  .dropdown-menu.open {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }

  .nav-item {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding-left: 1rem;
    height: 100%;
    width: 100%;
  }

  .nav-item.active:first-of-type {
    padding-top: 3rem;
  }

  .service-content.active {
    max-height: calc(100vh - 30rem);
  }

  .gallery-item img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .service-description {
    font-size: 16px;
  }

  .services-container .btn-primary {
    font-size: 16px;
    width: 18rem;
    height: 3rem;
  }

  #themes .service-header img {
    max-width: 12rem;
    transition: max-width 0.3s ease;
  }

  #pet-photos .service-header img,
  #award-winning .service-header img {
    max-width: 14rem;
    transition: max-width 0.3s ease;
  }

  #historical-pet .service-header img {
    max-width: 16rem;
    transition: max-width 0.3s ease;
  }

  .medium-br {
    display: block;
  }

  .small-br {
    display: none;
  }
}

@media (min-width: 1024px) {
  .content-area {
    width: 100%;
    margin: 0;
  }

  .service-header {
    gap: 0.8rem;
  }

  .service-content.active {
    padding: 0.8rem;
    border: 4px solid #e8c775;
    border-radius: 0.8rem;
  }

  .services-container {
    flex-direction: row;
    padding-top: 1rem;
    padding-bottom: 0;
    gap: 0.8rem;
    max-width: 56.2rem;
    max-height: calc(100vh - 29.6rem);
  }

  .dropdown-menu .nav-item,
  .services-container .btn-primary {
    font-size: 18px;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    z-index: 10;
    width: 100%;
    height: 100%;
    max-width: 18rem;
    align-self: start;
    gap: 0.8rem;
    border: 4px solid #e8c775;
    border-radius: 0.8rem;
    padding: 0.8rem;
  }

  .sidebar-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sidebar-header img {
    max-width: 8rem;
    transition: max-width 0.3s ease;
  }

  .dropdown-header {
    display: none;
  }

  .dropdown-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    background: transparent;
    border: none;
    z-index: 100;
    max-height: none;
    overflow: visible;
  }

  .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem 0.5rem;
    font-size: 16px;
    border: 4px solid #e8c775;
    border-radius: 0.8rem;
    border-bottom: 4px solid #e8c775;
    background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
    box-shadow: 0px 6px 4px rgba(34, 0, 1, 0.8);
    text-align: center;
    height: 3.8rem;
  }

  .nav-item.active:first-of-type,
  .nav-item.active {
    padding: 0;
  }

  .nav-item:last-child {
    border-bottom: 4px solid #e8c775;
  }

  .nav-item:hover {
    background: rgba(212, 175, 55, 0.1);
  }

  .service-description {
    font-size: 16px;
    transition: font-size 0.3s ease;
  }

  .services-container .btn-primary {
    font-size: 18px;
    width: 20rem;
    height: 3.8rem;
    border: 4px solid #e8c775;
    border-radius: 0.8rem;
    transition: font-size 0.3s ease, width 0.3s ease;
  }

  #themes .service-header img {
    max-width: 14rem;
    transition: max-width 0.3s ease;
  }

  .service-gallery {
    gap: 0.8rem;
  }

  .small-br .medium-br {
    display: none;
  }
}

@media (min-width: 1440px) {
  .services-container {
    max-width: 86rem;
    padding: 0;
    margin-top: 1.6rem;
    gap: 1rem;
    max-height: calc(100vh - 25rem);
  }

  .service-header {
    gap: 1rem;
  }

  .sidebar {
    max-width: 30%;
    padding: 1rem;
  }

  .service-content.active {
    max-width: none;
    max-height: none;
    padding: 1rem;
  }

  .sidebar-header img {
    max-width: 10rem;
    transition: max-width 0.3s ease;
  }

  .dropdown-menu .nav-item {
    font-size: 20px;
    height: 4.8rem;
  }

  #themes .service-header img {
    max-width: 18rem;
    transition: max-width 0.3s ease;
  }

  #pet-photos .service-header img,
  #award-winning .service-header img {
    max-width: 20rem;
    transition: max-width 0.3s ease;
  }

  #historical-pet .service-header img {
    max-width: 26rem;
    transition: max-width 0.3s ease;
  }

  .service-description {
    font-size: 20px;
    padding: 0;
    transition: font-size 0.3s ease;
  }

  .services-container .btn-primary {
    font-size: 20px;
    width: 24rem;
    height: 4.8rem;
    transition: font-size 0.3s ease, width 0.3s ease;
  }
}

@media (min-width: 1920px) {
  .services-container {
    max-width: 116rem;
    max-height: calc(100vh - 26rem);
    gap: 2rem;
    margin-top: 1.4rem;
  }

  .sidebar,
  .service-content.active {
    padding: 2rem;
  }

  .dropdown-menu .nav-item {
    font-size: 24px;
    height: 6rem;
  }

  .service-description {
    font-size: 24px;
    padding: 0;
    margin: 0;
    transition: font-size 0.3s ease;
  }

  .services-container .btn-primary {
    font-size: 24px;
    width: 28rem;
    height: 6rem;
    transition: font-size 0.3s ease, width 0.3s ease;
  }
}

@media (min-width: 2560px) {
  .services-container {
    max-width: 120rem;
    max-height: calc(100vh - 26.8rem);
    gap: 2rem;
    margin-top: 1.6rem;
  }

  .sidebar,
  .service-content.active {
    padding: 2rem;
  }

  .dropdown-menu .nav-item {
    font-size: 24px;
    height: 6rem;
  }

  .service-description {
    font-size: 24px;
    padding: 0;
    margin: 0;
    transition: font-size 0.3s ease;
  }

  .services-container .btn-primary {
    font-size: 24px;
    width: 28rem;
    height: 6rem;
    transition: font-size 0.3s ease, width 0.3s ease;
  }
}
