/* Themes CSS */

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: none;
  background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
}

/* Screen reader only content */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.themes-container {
  max-width: 140rem;
  flex: 1;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
  box-sizing: border-box;
  display: flex;
  background: linear-gradient(90deg, #480204 0%, #800407 50%, #480204 100%);
  box-shadow: 0px 6px 4px rgba(34, 0, 1, 0.8);
  margin: 2rem;
}

.themes-list {
  width: 100%;
  max-height: 80vh;
  border: 4px solid #e8c775;
  border-radius: 1rem;
  padding: 2rem;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.themes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 1.8rem;
  justify-content: center;
}

.themes-grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid #e8c775;
  border-radius: 1rem;
  box-shadow: 0px 2px 6px 2px rgba(34, 0, 1, 0.633);
  max-width: 30rem;
  width: 100%;
  height: 38rem;
}

.photo-wrapper {
  border-bottom: 4px solid #e8c775;
  /* border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem; */
  overflow: hidden;
  width: 100%;
}

.photo-wrapper img {
  display: block;
  width: 100%;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.header-wrapper img {
  max-width: 14rem;
  padding: 1rem;
}

#victorian {
  margin-top: 0.2rem;
}

#dressy-western {
  min-width: 24rem;
  padding-bottom: 0.8rem;
}

#cowboys-and-cowgirls {
  min-width: 25rem;
  margin-top: 0.4rem;
  padding-bottom: 1.4rem;
}

#showgirls-and-outlaws {
  min-width: 25rem;
  margin-top: 0.6rem;
  padding-bottom: 1.4rem;
}

#roaring-20s {
  min-width: 20rem;
  margin-top: 0.6rem;
}

#pirates {
  padding: 0.4rem 1.6rem 0;
  margin-top: 0.6rem;
}

#wedding {
  min-width: 14rem;
  padding-bottom: 0.4rem;
  margin-top: 0.2rem;
}

#civil-war {
  min-width: 16rem;
  margin-top: 0.2rem;
}

#native {
  min-width: 22rem;
  margin-top: 0.4rem;
}

#mounties {
  margin-top: 0.4rem;
}

#steampunk {
  min-width: 15rem;
  margin-top: 0.4rem;
  padding-bottom: 0.8rem;
}

#winter-wonderland {
  min-width: 25rem;
  margin-top: 0.4rem;
}

#mix-and-match {
  min-width: 20rem;
  margin-top: 0.4rem;
  padding-bottom: 0.8rem;
}

#kids {
  max-width: 8rem;
  margin-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0;
}

#pets {
  max-width: 8rem;
  margin-top: 0.2rem;
  padding-bottom: 1.2rem;
  padding-left: 0;
}
